Repository qlcchain/go-qlc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: nil pointer exception
  common/storage/db/badger.go
  consensus/pov/pov_chain.go
  ledger/cache.go
  ledger/ledger.go
  ledger/ledger_block.go
  ledger/migration/ledger.go
  ledger/migration/migration.go
  ledger/process/rollback.go
  ledger/relation/interface.go
  ledger/relation/relation_impl.go
  ledger/relation/relation_manage.go
  wallet/wallet_impl.go
  wallet/wallet_manager_impl.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: refactor block process
  ledger/ledger.go
  ledger/ledger_block.go
  ledger/ledger_pov.go
  ledger/process/cache_processor.go
  ledger/process/ledger_processor.go
  rpc/api/ledger.go
  trie/trie.go
  vm/vmstore/vm_store.go
Owners: @zengchen221, @gythialy, @wenyuangui, @wenchaopeng, @lc3091

feat: flush data when node exit
  chain/helper_test.go
  common/storage/db/badger.go
  common/storage/storage.go
  common/types/prefix.go
  ledger/ledger.go
  ledger/migration/ledger.go
  ledger/migration/migration.go
  ledger/process/cache_processor.go
  trie/trie.go
  trie/trie_test.go
  vm/vmstore/vm_store.go
  vm/vmstore/vm_store_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: format code
  ledger/cache.go
  ledger/ledger.go
  ledger/ledger_pov.go
  ledger/process/rollback.go
  ledger/process/rollback_test.go
  ledger/relation/relation_manage.go
  trie/trie.go
  vm/vmstore/vm_store.go
Owners: @zengchen221, @gythialy, @wenyuangui, @wenchaopeng, @lc3091

feat: flush data when node close
  ledger/cache.go
  ledger/cache_test.go
  ledger/ledger.go
Owners: @zengchen221

feat: relation batch add
  chain/context/chain_context_test.go
  ledger/cache.go
  ledger/cache_test.go
  ledger/ledger.go
  ledger/relation/relation_manage.go
  p2p/messageMonitor_test.go
  test/fork_test.go
  vm/vmstore/vm_store.go
  wallet/wallet_manager_impl_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: remove some redundant comment
  ledger/ledger.go
Owners: @zengchen221

fix: testcase error
  go.sum
  ledger/cache.go
  ledger/ledger.go
  ledger/process/ledger_processor_test.go
  ledger/process/rollback_test.go
  ledger/relation/relation_manage.go
  trie/trie.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: interface conversion fail
  common/storage/storage.go
  consensus/pov/pov_chain.go
  ledger/cache.go
  ledger/cache_test.go
  ledger/ledger.go
  ledger/ledger_block_test.go
  ledger/process/ledger_processor.go
  ledger/process/rollback.go
  ledger/relation/relation_impl.go
  ledger/relation/relation_manage.go
  rpc/api/ledger.go
  rpc/api/ledger_test.go
  trie/trie.go
  trie/trie_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: ledger migration
  common/storage/db/badger.go
  common/storage/storage.go
  common/types/unchecked.go
  common/types/unchecked_test.go
  ledger/ledger.go
  ledger/ledger_uncheck.go
  ledger/migration/ledger.go
  rpc/api/debug.go
  vm/vmstore/vm_store.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

change pov service init sequence
  consensus/pov/pov_impl.go
  consensus/pov/pov_processor.go
  consensus/pov/pov_sync.go
  consensus/pov/pov_txpool.go
  go.mod
  go.sum
  ledger/ledger_represention.go
Owners: @wenyuangui, @gythialy, @wenchaopeng, @zengchen221, @lc3091

feat: iterator and debug api
  ledger/cache.go
  ledger/cache_test.go
  ledger/ledger.go
  ledger/ledger_represention.go
  ledger/ledgerstore.go
  rpc/api/debug.go
  vm/contract/abi/abi_nep5_pledge.go
  vm/vmstore/vm_store.go
Owners: @zengchen221, @gythialy, @wenyuangui, @wenchaopeng, @lc3091

feat: merge master
  consensus/dpos/dpos_integration_test.go
  vm/contract/abi/abi_public_key_distribution.go
  vm/contract/miner_test.go
  vm/contract/public_key_distribution_test.go
  vm/contract/representative_test.go
Owners: @lc3091, @gythialy

fix: confirm chian concurrent access map
  consensus/dpos/processor.go
Owners: @lc3091

feat: update store get
  common/storage/db/badger.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: process error
  ledger/process/cache_processor.go
  ledger/process/ledger_processor.go
  vm/contract/abi/abi_nep5_pledge.go
  vm/contract/contract.go
  vm/contract/nep5_pledge.go
Owners: @zengchen221, @gythialy

fix: sync bug
  cmd/client/commands/debug.go
  cmd/client/commands/debug_uncheck_analysis.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/processor.go
  ledger/process/ledger_check.go
  p2p/sync.go
  rpc/api/debug.go
  vm/contract/blackhole.go
  vm/contract/contract.go
  vm/contract/miner.go
  vm/contract/mintage.go
  vm/contract/nep5_pledge.go
  vm/contract/nep5_pledge_test.go
  vm/contract/public_key_distribution.go
  vm/contract/representative.go
  vm/contract/rewards.go
  vm/contract/settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: testcase error
  vm/contract/miner_test.go
Owners: @gythialy

feature: cache status
  ledger/cache.go
  ledger/ledger_block.go
Owners: @zengchen221

feature: cache status
  ledger/cache.go
  ledger/cache_test.go
  ledger/ledger.go
  rpc/api/debug.go
Owners: @zengchen221, @gythialy, @wenyuangui, @wenchaopeng, @lc3091

fix: iterator bug
  ledger/cache.go
  ledger/cache_test.go
  ledger/ledger.go
  ledger/ledger_account.go
  ledger/ledger_block.go
  ledger/ledger_frontier.go
  ledger/ledger_pending.go
  ledger/process/cache_processor.go
  ledger/process/ledger_processor.go
  trie/trie.go
  vm/contract/abi/abi_nep5_pledge.go
  vm/contract/representative_test.go
  vm/vmstore/vm_store.go
Owners: @zengchen221, @gythialy, @wenyuangui, @wenchaopeng, @lc3091

fix: testcase error
  ledger/ledger.go
  vm/contract/abi/abi_nep5_pledge.go
  vm/vmstore/vm_store.go
Owners: @zengchen221, @gythialy

fix: add debug cmd
  cmd/client/commands/debug_uncheck_analysis.go
  go.mod
  go.sum
  rpc/api/debug.go
  vm/contract/rewards_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: change pov aux btc tx msgpack marshal format
  cmd/server/commands/root.go
  common/types/block_pov_btc.go
  common/types/block_pov_btc_gen.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: cache loop
  ledger/cache.go
  ledger/ledger.go
  rpc/api/debug.go
Owners: @zengchen221, @gythialy, @wenyuangui, @wenchaopeng, @lc3091

fix: ci
  vm/contract/rewards_test.go
Owners: @gythialy

feat: ledger process
  common/storage/relationdb/store.go
  ledger/cache_test.go
  ledger/ledger.go
  ledger/ledger_relation.go
  ledger/ledger_represention.go
  ledger/ledger_represention_test.go
  ledger/ledgerstore.go
  ledger/process/ledger_processor.go
  rpc/api/ledger.go
  rpc/api/ledger_test.go
  rpc/api/sms.go
  rpc/apis.go
  rpc/rpc.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: build error
  common/storage/db/badger.go
  go.mod
  go.sum
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: optimize cpu load
  cmd/client/commands/ledger_blockcount.go
  cmd/server/commands/root.go
  common/storage/storage.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/processor.go
  ledger/ledger_dpos.go
  ledger/ledger_dpos_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: badger 2.0
  common/storage/db/badger.go
  common/storage/relationdb/mysql.go
  go.mod
  go.sum
  ledger/cache.go
  ledger/cache_test.go
  ledger/ledger.go
  ledger/ledger_smartblock.go
  ledger/process/cache_processor.go
  ledger/process/ledger_processor.go
  rpc/api/debug.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: cache testcase
  ledger/cache.go
  ledger/cache_test.go
  ledger/ledger.go
  ledger/ledger_account.go
  ledger/ledger_block.go
  ledger/ledger_represention.go
  rpc/api/debug.go
Owners: @zengchen221, @gythialy, @wenyuangui, @wenchaopeng, @lc3091

fix: testcase error
  common/storage/relationdb/mysql.go
  common/storage/relationdb/relation.go
  common/storage/storage.go
  common/types/block_state.go
  common/types/schema.go
  common/types/schma.go
  ledger/cache.go
  ledger/ledger_block.go
  ledger/relation/relation_impl.go
  ledger/relation/relation_manage.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: merger master
  cmd/server/commands/root.go
  ledger/ledger_represention.go
  ledger/process/ledger_processor.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: testcase error
  ledger/cache_test.go
  ledger/ledger_test.go
  ledger/process/ledger_processor.go
  ledger/process/ledger_processor_test.go
  rpc/api/api_test.go
  rpc/api/debug.go
  rpc/api/public_key_distribution_test.go
  rpc/api/settlement.go
Owners: @zengchen221, @gythialy, @wenyuangui, @wenchaopeng, @lc3091

fix: dpos optimize
  consensus/dpos/processor.go
Owners: @lc3091

fix: dpos optimize
  consensus/dpos/dpos_impl.go
  consensus/dpos/processor.go
Owners: @lc3091

chore: build docker image first
  .github/workflows/go.yml
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: add dpos test cmd
  cmd/client/commands/debug.go
  cmd/client/commands/debug_consensus_feed.go
  common/module_rpc.go
  consensus/dpos/debug_test.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/dpos_integration_test.go
  p2p/sync.go
  rpc/api/debug.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: optimize pov trie perf
  common/statedb/pov_statedb.go
  trie/node_pool.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: unblock cmd
  consensus/dpos/dpos_impl.go
Owners: @lc3091

.github/CODEOWNERS:

*  @gythialy @wenyuangui @wenchaopeng @zengchen221 @lc3091

/ledger/         @zengchen221
/p2p/            @wenchaopeng
/consensus/pov   @wenyuangui
/consensus/dpos  @lc3091
/vm/             @gythialy
