Repository qlcchain/go-qlc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

.github/CODEOWNERS:

*  @gythialy @wenyuangui @wenchaopeng @zengchen221 @lc3091

/ledger/         @zengchen221
/p2p/            @wenchaopeng
/consensus/pov   @wenyuangui
/consensus/dpos  @lc3091
/vm/             @gythialy

test: add settlement testecase
  config/genesis_testnet_test.go
  config/migration_v5_v6_testnet_test.go
  vm/contract/abi/abi_settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: fix testnet test cases (#971)
  .codecov.yml
  common/types/block_contract_test.go
  config/genesis_test.go
  config/migration_v5_v6_test.go
  rpc/api/ledger_mock_test.go
  rpc/api/ledger_test.go
  rpc/api/settlement_test.go
  vm/contract/abi/abi_blackhole_test.go
  vm/contract/abi/mock_block_mainnet_test.go
  vm/contract/abi/mock_block_testnet_test.go
  vm/contract/abi/mock_ledger_test.go
  vm/contract/mock_ledger_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add get settlement contract address by partyAddress and stopName interface (#970)
  config/genesis_testnet_test.go
  config/migration_v5_v6_testnet_test.go
  rpc/api/settlement.go
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: add settlement contract RPC test cases
  rpc/api/mock_account_test.go
  rpc/api/settlement.go
  rpc/api/settlement_test.go
  vm/contract/abi/abi_settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: rpc testcase error
  rpc/api/ledger_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: add settlement contract RPC test cases (#973)
  rpc/api/ledger_test.go
  rpc/api/mock_account_test.go
  rpc/api/settlement.go
  rpc/api/settlement_test.go
  vm/contract/abi/abi_settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: testcase error
  ledger/ledger_pending.go
Owners: @zengchen221

feat: exception handling
  ledger/cache_test.go
  ledger/ledger_peersinfo_test.go
  ledger/ledger_pending_test.go
  ledger/ledger_represention_test.go
  ledger/ledger_uncheck_test.go
Owners: @zengchen221

feat: add ledger testcase
  common/types/block_state_test.go
  go.mod
  go.sum
  ledger/ledger_account.go
  ledger/ledger_account_test.go
  ledger/ledger_block.go
  ledger/ledger_block_test.go
  ledger/ledger_frontier.go
  ledger/ledger_frontier_test.go
  ledger/ledger_peersinfo_test.go
  ledger/ledger_pending.go
  ledger/ledger_pending_cache.go
  ledger/ledger_pending_test.go
  ledger/ledger_represention.go
  ledger/ledger_represention_test.go
  ledger/ledger_smartblock.go
  ledger/ledger_smartblock_test.go
  ledger/ledger_sync_test.go
  ledger/ledger_test.go
  ledger/ledgerstore.go
  ledger/process/cache_processor_test.go
  ledger/process/ledger_check.go
  ledger/process/ledger_processor.go
  ledger/process/ledger_processor_test.go
  ledger/process/rollback.go
  ledger/process/rollback_test.go
  ledger/relation/relation_impl.go
  ledger/relation/relation_manage.go
  ledger/relation/relation_manage_test.go
  mock/mocks/store.go
  rpc/api/debug.go
  rpc/api/debug_test.go
  rpc/api/ledger_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: relation close
  ledger/relation/relation_manage.go
Owners: @zengchen221

fix: testnet testcase error
  ledger/process/cache_processor_test.go
  ledger/process/ledger_processor_test.go
Owners: @zengchen221

fix: testcase error
  ledger/cache_test.go
Owners: @zengchen221

feat: format code
  common/types/block_state_test.go
  ledger/ledger_account_test.go
  ledger/ledger_peersinfo_test.go
  ledger/ledger_pending.go
  ledger/ledger_pending_test.go
  ledger/ledger_represention_test.go
  ledger/ledger_sync_test.go
  ledger/ledger_test.go
  ledger/ledger_uncheck_test.go
  ledger/process/cache_processor_test.go
  ledger/process/ledger_processor_test.go
  ledger/relation/relation_impl_test.go
  rpc/api/debug_test.go
  rpc/api/settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: add more ledger testcase (#974)
  common/types/block_state_test.go
  go.mod
  go.sum
  ledger/cache_test.go
  ledger/ledger_account.go
  ledger/ledger_account_test.go
  ledger/ledger_block.go
  ledger/ledger_block_test.go
  ledger/ledger_frontier.go
  ledger/ledger_frontier_test.go
  ledger/ledger_peersinfo_test.go
  ledger/ledger_pending.go
  ledger/ledger_pending_cache.go
  ledger/ledger_pending_test.go
  ledger/ledger_represention.go
  ledger/ledger_represention_test.go
  ledger/ledger_smartblock.go
  ledger/ledger_smartblock_test.go
  ledger/ledger_sync_test.go
  ledger/ledger_test.go
  ledger/ledger_uncheck_test.go
  ledger/ledgerstore.go
  ledger/process/cache_processor_test.go
  ledger/process/ledger_check.go
  ledger/process/ledger_processor.go
  ledger/process/ledger_processor_test.go
  ledger/process/rollback.go
  ledger/process/rollback_test.go
  ledger/relation/relation_impl.go
  ledger/relation/relation_impl_test.go
  ledger/relation/relation_manage.go
  ledger/relation/relation_manage_test.go
  mock/mocks/store.go
  rpc/api/debug.go
  rpc/api/debug_test.go
  rpc/api/ledger_test.go
  rpc/api/settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: get settlement contract address bug
  vm/contract/abi/abi_settlement.go
Owners: @gythialy

refactor: disable calculate service cost
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_test.go
Owners: @gythialy

refactor: disable calculate service cost (#977)
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_test.go
Owners: @gythialy

feat: add dkpi key type - fix(#926 #900)
  cmd/client/commands/dpki_oracle.go
  cmd/client/commands/dpki_publish.go
  cmd/client/commands/dpki_unpublish.go
  cmd/client/commands/dpki_verifier_register.go
  common/contract.go
  common/util/bytes.go
  common/util/bytes_test.go
  rpc/api/public_key_distribution.go
  rpc/api/public_key_distribution_test.go
  vm/contract/abi/abi_public_key_distribution.go
  vm/contract/abi/abi_public_key_distribution_test.go
  vm/contract/public_key_distribution.go
  vm/contract/public_key_distribution_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: dpki update (#981)
  cmd/client/commands/dpki_oracle.go
  cmd/client/commands/dpki_publish.go
  cmd/client/commands/dpki_unpublish.go
  cmd/client/commands/dpki_verifier_register.go
  common/contract.go
  common/util/bytes.go
  common/util/bytes_test.go
  rpc/api/api_test.go
  rpc/api/ledger.go
  rpc/api/miner_test.go
  rpc/api/public_key_distribution.go
  rpc/api/public_key_distribution_test.go
  rpc/api/representative.go
  rpc/api/representative_test.go
  vm/contract/abi/abi_public_key_distribution.go
  vm/contract/abi/abi_public_key_distribution_test.go
  vm/contract/public_key_distribution.go
  vm/contract/public_key_distribution_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: consensus testecase
  consensus/dpos/dpos_test.go
Owners: @lc3091

test: add pov rpc testcase
  mock/mock.go
  rpc/api/pov_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: add dpki reward testcase
  mock/mock.go
  rpc/api/public_key_distribution.go
  rpc/api/public_key_distribution_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: add pov consensu testcase
  consensus/pov/pov_chain_test.go
  consensus/pov/pov_impl_test.go
  consensus/pov/pov_pow_test.go
  consensus/pov/pov_state.go
  consensus/pov/pov_verifier_test.go
  mock/mock_pov.go
  mock/mock_pov_test.go
Owners: @wenyuangui, @gythialy, @wenchaopeng, @zengchen221, @lc3091

test: add network testecase in rpc
  p2p/pinger/ping_test.go
  rpc/api/net_test.go
Owners: @wenchaopeng, @gythialy, @wenyuangui, @zengchen221, @lc3091

feat: format code
  common/statedb/pov_statedb_test.go
  consensus/pov/pov_chain_test.go
  consensus/pov/pov_impl_test.go
  consensus/pov/pov_processor_test.go
  consensus/pov/pov_sync_test.go
  consensus/pov/pov_txpool_test.go
  consensus/pov/pov_verifier_test.go
  ledger/cache_test.go
  ledger/ledger_block_test.go
  ledger/ledger_frontier_test.go
  ledger/ledger_pending_test.go
  ledger/ledger_pov_test.go
  ledger/ledger_represention_test.go
  ledger/ledger_test.go
  ledger/process/cache_processor_test.go
  ledger/process/rollback_test.go
  ledger/relation/relation_manage_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add ledger testcase
  ledger/cache.go
  ledger/ledger.go
  ledger/ledger_peersinfo_test.go
  ledger/ledger_pending_test.go
  ledger/ledger_represention_test.go
  ledger/ledger_test.go
  ledger/ledger_uncheck_test.go
  ledger/ledgerstore.go
  ledger/process/cache_processor_test.go
  ledger/process/ledger_processor_test.go
  ledger/process/rollback.go
  ledger/process/rollback_test.go
  ledger/relation/relation_manage.go
  ledger/relation/relation_manage_test.go
  p2p/node.go
  vm/contract/abi/abi_nep5_pledge.go
  vm/contract/nep5_pledge.go
  vm/vmstore/vm_store.go
Owners: @zengchen221, @wenchaopeng, @gythialy

fix: ledger iterator
  common/storage/cache/cache.go
  ledger/cache.go
  ledger/cache_test.go
  ledger/ledger.go
  ledger/ledger_account_test.go
  ledger/ledger_block_test.go
  ledger/ledger_dump_test.go
  ledger/ledger_frontier_test.go
  ledger/ledger_peersinfo_test.go
  ledger/ledger_pending_test.go
  ledger/ledger_represention_test.go
  ledger/ledger_test.go
  ledger/ledger_uncheck_test.go
  ledger/ledgerstore.go
  ledger/process/rollback_test.go
  mock/mocks/store.go
  vm/contract/abi/abi_nep5_pledge.go
  vm/contract/abi/abi_nep5_pledge_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: testcase error
  ledger/ledger_account_test.go
  ledger/ledger_test.go
  ledger/relation/relation_manage.go
  ledger/relation/relation_manage_test.go
  rpc/api/ledger_test.go
Owners: @zengchen221, @gythialy, @wenyuangui, @wenchaopeng, @lc3091

test: fix ledger account testcase
  mock/mock.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: format code
  ledger/ledger.go
  vm/vmstore/vm_store.go
Owners: @zengchen221, @gythialy

feat: ledger iterator may not return value (#994)
  common/statedb/pov_statedb_test.go
  common/storage/cache/cache.go
  consensus/pov/pov_chain_test.go
  consensus/pov/pov_impl_test.go
  consensus/pov/pov_processor_test.go
  consensus/pov/pov_sync_test.go
  consensus/pov/pov_txpool_test.go
  consensus/pov/pov_verifier_test.go
  ledger/cache.go
  ledger/cache_test.go
  ledger/ledger.go
  ledger/ledger_account_test.go
  ledger/ledger_block_test.go
  ledger/ledger_dump_test.go
  ledger/ledger_frontier_test.go
  ledger/ledger_peersinfo_test.go
  ledger/ledger_pending_test.go
  ledger/ledger_pov_test.go
  ledger/ledger_represention_test.go
  ledger/ledger_test.go
  ledger/ledger_uncheck_test.go
  ledger/ledgerstore.go
  ledger/process/cache_processor_test.go
  ledger/process/ledger_processor_test.go
  ledger/process/rollback.go
  ledger/process/rollback_test.go
  ledger/relation/relation_manage.go
  ledger/relation/relation_manage_test.go
  mock/mocks/store.go
  p2p/node.go
  rpc/api/ledger_test.go
  vm/contract/abi/abi_nep5_pledge.go
  vm/contract/abi/abi_nep5_pledge_test.go
  vm/contract/nep5_pledge.go
  vm/vmstore/vm_store.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: add more pov testcase (#993)
  consensus/pov/pov_chain_test.go
  consensus/pov/pov_impl_test.go
  consensus/pov/pov_pow_test.go
  consensus/pov/pov_state.go
  consensus/pov/pov_verifier_test.go
  mock/mock.go
  mock/mock_pov.go
  mock/mock_pov_test.go
  rpc/api/pov_test.go
  rpc/api/public_key_distribution.go
  rpc/api/public_key_distribution_test.go
Owners: @wenyuangui, @gythialy, @wenchaopeng, @zengchen221, @lc3091

feat: implement generate multi-party summary report
  mock/mock_test.go
  rpc/api/api_test.go
  rpc/api/ledger_test.go
  rpc/api/miner_test.go
  rpc/api/mock_account_test.go
  rpc/api/mock_block_mainnet_test.go
  rpc/api/mock_block_testnet_test.go
  rpc/api/representative_test.go
  rpc/api/settlement.go
  rpc/api/settlement_test.go
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_gen.go
  vm/contract/abi/abi_settlement_gen_test.go
  vm/contract/abi/abi_settlement_test.go
  vm/contract/settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

refactor: generate multi-party invoice
  rpc/api/settlement.go
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: value log truncate required to run db
  ledger/db/badger_impl.go
Owners: @zengchen221

refactor: remove all waiting data to db
  rpc/api/settlement_test.go
  vm/contract/abi/abi_nep5_pledge.go
  vm/contract/abi/abi_settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: processLock causes high CPU usage
  rpc/api/ledger.go
  rpc/api/ledger_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: check process lock timeout
  rpc/api/ledger.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: implement generate multi-party summary reports (#997)
  mock/mock_test.go
  rpc/api/api_test.go
  rpc/api/ledger_test.go
  rpc/api/miner_test.go
  rpc/api/mock_account_test.go
  rpc/api/mock_block_mainnet_test.go
  rpc/api/mock_block_testnet_test.go
  rpc/api/representative_test.go
  rpc/api/settlement.go
  rpc/api/settlement_test.go
  vm/contract/abi/abi_nep5_pledge.go
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_gen.go
  vm/contract/abi/abi_settlement_gen_test.go
  vm/contract/abi/abi_settlement_test.go
  vm/contract/settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: update dpos unit test
  consensus/dpos/active_transaction_test.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/dpos_impl_test.go
  consensus/dpos/dpos_integration_test.go
  consensus/dpos/dpos_test.go
  consensus/dpos/online.go
  consensus/dpos/processor.go
  consensus/dpos/processor_test.go
  vm/contract/mintage.go
Owners: @lc3091, @gythialy
