Repository qlcchain/go-qlc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: optimize privacy ptm client (#1074)
  cmd/client/commands/debug.go
  cmd/client/commands/debug_privacyinfo.go
  common/event/feed_event_bus.go
  consensus/dpos/dpos_impl.go
  consensus/pov/pov_impl.go
  miner/pov_worker.go
  privacy/privacy.go
  privacy/privacy_test.go
  privacy/ptm.go
  rpc/api/debug.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add an rpc interface to query the peerid of node (#1090)
  rpc/api/net.go
  rpc/api/net_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add vmlogs store interface
  common/storage/storage.go
  common/types/generic.go
  common/types/vmlog.go
  ledger/ledger_contract_storage.go
  ledger/ledger_contract_storage_test.go
  ledger/ledger_generic_cache.go
  ledger/ledger_generic_cache_test.go
  ledger/ledger_vmlogs.go
  ledger/ledger_vmlogs_test.go
  ledger/ledgerstore.go
  mock/mocks/store.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add accountmeta history interface
  common/storage/storage.go
  common/types/account.go
  ledger/cache.go
  ledger/ledger.go
  ledger/ledger_account.go
  ledger/ledger_account_test.go
  ledger/ledgerstore.go
  ledger/process/ledger_processor.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add relation to ContractStore
  ledger/ledger.go
  ledger/ledgerstore.go
  mock/mocks/store.go
  p2p/qlcService.go
  vm/contract/abi/abi_nep5_pledge_test.go
  vm/contract/abi/settlement/abi_settlement.go
  vm/vmstore/vm_store.go
Owners: @zengchen221, @gythialy, @wenyuangui, @wenchaopeng, @lc3091

feat: add relation convert interface
  common/types/block_state.go
  common/types/interface.go
  ledger/cache.go
  ledger/ledger.go
  ledger/ledger_relation.go
  ledger/ledger_relation_test.go
  ledger/ledgerstore.go
  ledger/relation/interface.go
  ledger/relation/relation_impl.go
  ledger/relation/relation_impl_test.go
  ledger/relation/relation_manage.go
  ledger/relation/relation_manage_test.go
  ledger/relation/schema.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: register relation interface
  chain/ledger_service.go
  common/relation/relation.go
  common/relation/relation_test.go
  ledger/ledger.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: implement ContractStore interface in vm store
  ledger/cache.go
  ledger/ledger_account.go
  ledger/ledger_store.go
  ledger/process/rollback.go
  ledger/relation/db/postgres.go
  ledger/relation/relation_impl.go
  ledger/relation/relation_impl_test.go
  ledger/relation/relation_manage.go
  ledger/relation/relation_manage_test.go
  mock/mock_pov.go
  mock/mock_test.go
  mock/mocks/store.go
  vm/vmstore/vm_store.go
  vm/vmstore/vm_store_test.go
Owners: @zengchen221, @gythialy, @wenyuangui, @wenchaopeng, @lc3091

refactor interface in vm store
  chain/ledger_service.go
  ledger/cache.go
  ledger/cache_test.go
  ledger/ledger.go
  ledger/ledger_account.go
  ledger/ledger_contract_storage.go
  ledger/ledger_generic_cache.go
  ledger/ledger_store.go
  ledger/ledger_test.go
  ledger/ledger_vm_store.go
  ledger/ledger_vmlogs.go
  ledger/process/ledger_processor_test.go
  mock/mocks/store.go
  trie/trie.go
  vm/vmstore/vm_store.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: fix test build failed
  common/types/contract_value_test.go
  consensus/dpos/dpos_test.go
  ledger/cache.go
  ledger/ledger.go
  ledger/ledger_contract_storage_test.go
  ledger/ledger_generic_cache_test.go
  ledger/ledger_vm_store.go
  ledger/relation/interface.go
  mock/mocks/store.go
  p2p/qlcService.go
  rpc/api/ledger_mock_test.go
  vm/contract/abi/abi_blackhole_test.go
  vm/contract/abi/abi_nep5_pledge_test.go
  vm/contract/abi/abi_permission_test.go
  vm/contract/abi/abi_public_key_distribution_test.go
  vm/contract/abi/abi_representative_test.go
  vm/contract/abi/abi_rewards_test.go
  vm/contract/abi/settlement/abi_settlement_test.go
  vm/contract/abi/settlement/summary_report_test.go
  vm/contract/blackhole_test.go
  vm/contract/miner_test.go
  vm/contract/mintage_test.go
  vm/contract/mock_ledger_test.go
  vm/contract/nep5_pledge_test.go
  vm/contract/representative_test.go
  vm/contract/rewards_test.go
  vm/contract/settlement_test.go
  vm/vmstore/vm_store.go
  vm/vmstore/vm_store_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: modify create sql
  common/types/block_state.go
  common/types/interface.go
  go.mod
  ledger/cache.go
  ledger/ledger.go
  ledger/ledger_account.go
  ledger/ledger_relation_test.go
  ledger/ledger_vm_store.go
  ledger/relation/db/postgres.go
  ledger/relation/db/relation.go
  ledger/relation/relation_impl.go
  ledger/relation/relation_impl_test.go
  ledger/relation/relation_manage.go
  ledger/relation/relation_manage_test.go
  ledger/relation/schema.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: fix contract test cases
  ledger/ledger_vm_store.go
  vm/contract/abi/abi_blackhole.go
  vm/contract/abi/abi_nep5_pledge.go
  vm/contract/abi/abi_public_key_distribution.go
  vm/contract/abi/abi_rewards.go
  vm/contract/abi/mock_ledger_test.go
  vm/contract/abi/settlement/abi_settlement.go
  vm/contract/abi/settlement/abi_settlement_test.go
  vm/contract/settlement_test.go
  vm/vmstore/vm_cache.go
  vm/vmstore/vm_store.go
  vm/vmstore/vm_store_test.go
Owners: @zengchen221, @gythialy

feat: init chain contract
  common/vmcontract/chaincontract/contract.go
  common/vmcontract/contract.go
  vm/contract/blackhole.go
  vm/contract/miner.go
  vm/contract/mintage.go
  vm/contract/nep5_pledge.go
  vm/contract/permission.go
  vm/contract/privacy_demokv_contract.go
  vm/contract/public_key_distribution.go
  vm/contract/representative.go
  vm/contract/rewards.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: fix test cases
  chain/ledger_service.go
  common/relation/relation.go
  ledger/cache.go
  ledger/ledger.go
  ledger/ledger_vm_store.go
  ledger/process/ledger_processor.go
  ledger/process/rollback.go
  ledger/relation/relation_impl_test.go
  ledger/relation/relation_manage_test.go
  mock/mocks/store.go
  rpc/api/miner_test.go
  rpc/api/public_key_distribution_test.go
  rpc/api/representative_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: modify ledger parameter to cache interface
  ledger/ledger_account.go
  ledger/ledger_contract_storage.go
  ledger/ledger_frontier.go
  ledger/ledger_pending.go
  ledger/ledger_represention.go
  ledger/ledger_store.go
  ledger/ledger_vm_store.go
  ledger/ledger_vmlogs.go
Owners: @zengchen221

test: fix rpc test cases
  ledger/ledger_vm_store.go
  rpc/api/settlement.go
Owners: @zengchen221, @gythialy, @wenyuangui, @wenchaopeng, @lc3091

refactor: update cache to trie
  vm/vmstore/vm_cache.go
  vm/vmstore/vm_store.go
Owners: @gythialy

feat: update schema struct
  common/relation/relation.go
  common/types/block_state.go
  common/types/interface.go
  ledger/relation/db/relation.go
  ledger/relation/relation_impl.go
  ledger/relation/relation_manage.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: rollback contract data
  common/relation/relation.go
  common/relation/relation_test.go
  common/types/block_state.go
  common/types/interface.go
  ledger/cache.go
  ledger/ledger.go
  ledger/ledger_block.go
  ledger/ledger_relation_test.go
  ledger/ledger_vm_store.go
  ledger/process/ledger_processor.go
  ledger/process/rollback.go
  ledger/relation/relation_impl_test.go
  ledger/relation/relation_manage_test.go
  mock/mocks/store.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: rpc test case
  Makefile
  common/types/contract_key.go
  common/types/contract_key_test.go
  common/types/contract_value.go
  common/types/contract_value_gen.go
  common/types/contract_value_gen_test.go
  common/types/contract_value_test.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/dpos_test.go
  consensus/dpos/processor.go
  consensus/pov/pov_state.go
  ledger/ledger_account.go
  ledger/ledger_contract_storage.go
  ledger/ledger_contract_storage_test.go
  ledger/ledger_store.go
  ledger/ledger_test.go
  ledger/process/ledger_check.go
  ledger/process/ledger_processor.go
  ledger/process/rollback.go
  ledger/process/rollback_test.go
  mock/mock_contract.go
  mock/mock_contract_testnet.go
  mock/mocks/store.go
  rpc/api/contract.go
  rpc/api/ledger_test.go
  rpc/api/nep5_pledge_test.go
  rpc/api/rewards_test.go
  rpc/api/settlement_test.go
  vm/contract/contract_test.go
  vm/contract/nep5_pledge.go
  vm/vmstore/vm_store.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add contract key prefix to tire
  common/types/block_state.go
  common/types/block_test.go
  ledger/ledger.go
  ledger/ledger_vm_store.go
  ledger/ledger_vm_store_test.go
  ledger/process/rollback.go
  mock/mock_contract.go
  mock/mock_contract_testnet.go
  rpc/api/ledger_mock_test.go
  vm/contract/nep5_pledge.go
  vm/vmstore/vm_cache.go
  vm/vmstore/vm_store.go
  vm/vmstore/vm_store_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: migration ledger to v15
  ledger/ledger.go
  ledger/ledger_vm_store_test.go
  ledger/migration/migration.go
  ledger/migration/migration_test.go
  ledger/relation/relation_manage.go
Owners: @zengchen221

feat: merge with master branch
  chain/permission_service.go
  chain/permission_service_test.go
  p2p/qlcService.go
  vm/vmstore/vm_store.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add more testcase
  ledger/cache.go
  ledger/ledger.go
  ledger/ledger_peersInfo.go
  ledger/ledger_pov.go
  ledger/ledger_privacy.go
  ledger/ledger_relation_test.go
  ledger/ledger_test.go
  ledger/ledger_vm_store.go
  ledger/ledger_vm_store_test.go
  ledger/ledger_vmlogs.go
  ledger/ledger_vmlogs_test.go
  ledger/ledger_vote_history.go
  ledger/relation/db/mysql.go
  ledger/relation/db/postgres.go
  ledger/relation/db/sqlite.go
  ledger/relation/relation_manage_test.go
  ledger/wal/interface.go
  ledger/wal/manage.go
  ledger/wal/manage_test.go
  ledger/wal/utils.go
  ledger/wal/wal_log.go
Owners: @zengchen221

chore: clean go mod
  go.mod
  go.sum
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat:Increase ptmkey contract unit test coverage(#1087)
  cmd/client/commands/ptmkey_getpubkey.go
  cmd/client/commands/ptmkey_pkdelete.go
  cmd/client/commands/ptmkey_pkupdate.go
  common/contract.go
  common/contract_test.go
  rpc/api/ptmkey_test.go
  vm/contract/abi/abi_ptmkey.go
  vm/contract/abi/abi_ptmkey_test.go
  vm/contract/ptmkey.go
  vm/contract/ptmkey_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat:Increase ptmkey contract unit test coverage(#1087) * feat: resubmit ptmkey contract code(#1076) * test: add ptmkey contract unit test cases Signed-off-by: coolc4 <19464572@qq.com>
  cmd/client/commands/ptmkey.go
  cmd/client/commands/ptmkey_getpubkey.go
  cmd/client/commands/ptmkey_pkdelete.go
  cmd/client/commands/ptmkey_pkupdate.go
  cmd/client/commands/root.go
  common/contract.go
  common/contract_test.go
  common/vmcontract/contractaddress/address.go
  rpc/api/ptmkey.go
  rpc/api/ptmkey_test.go
  rpc/apis.go
  vm/contract/abi/abi_ptmkey.go
  vm/contract/abi/abi_ptmkey_test.go
  vm/contract/ptmkey.go
  vm/contract/ptmkey_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat:Increase ptmkey contract unit test coverage(#1087) test:Solve the lint problem of ptmkey test code Signed-off-by: coolc4 <19464572@qq.com>
  rpc/api/ptmkey_test.go
  vm/contract/abi/abi_ptmkey_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: Increase ptmkey contract unit test coverage(#1087) (#1093)
  cmd/client/commands/ptmkey.go
  cmd/client/commands/ptmkey_getpubkey.go
  cmd/client/commands/ptmkey_pkdelete.go
  cmd/client/commands/ptmkey_pkupdate.go
  cmd/client/commands/root.go
  common/contract.go
  common/contract_test.go
  common/vmcontract/contractaddress/address.go
  rpc/api/ptmkey.go
  rpc/api/ptmkey_test.go
  rpc/apis.go
  vm/contract/abi/abi_ptmkey.go
  vm/contract/abi/abi_ptmkey_test.go
  vm/contract/ptmkey.go
  vm/contract/ptmkey_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add vm store testcase
  vm/vmstore/vm_store.go
  vm/vmstore/vm_store_test.go
Owners: @gythialy

feat: relation register should be slice
  ledger/ledger.go
  ledger/ledger_relation_test.go
Owners: @zengchen221

fix: fix the bug that ptmkey contract checkContractSendBlock failed
  vm/contract/contract.go
  vm/contract/ptmkey.go
Owners: @gythialy

feat:add ptmkey new btypes {a2p,dod,cloud}
  common/contract.go
  common/contract_test.go
  vm/contract/abi/abi_ptmkey.go
  vm/contract/abi/abi_ptmkey_test.go
  vm/contract/ptmkey.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: add ptmkey unit test cases
  vm/contract/ptmkey.go
  vm/contract/ptmkey_test.go
Owners: @gythialy

fix: ptm client upcheck open too many open files
  privacy/client.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add dodSettlement contract
  cmd/client/commands/dod_settlement.go
  cmd/client/commands/dod_settlement_change_order.go
  cmd/client/commands/dod_settlement_change_response.go
  cmd/client/commands/dod_settlement_create_order.go
  cmd/client/commands/dod_settlement_create_response.go
  cmd/client/commands/dod_settlement_resource_ready.go
  cmd/client/commands/dod_settlement_terminate_order.go
  cmd/client/commands/dod_settlement_terminate_response.go
  cmd/client/commands/dod_settlement_update_order_info.go
  cmd/client/commands/dod_settlement_update_response.go
  cmd/client/commands/root.go
  common/contract.go
  common/vmcontract/contractaddress/address.go
  go.mod
  go.sum
  rpc/api/dod_settlement.go
  rpc/apis.go
  vm/contract/abi/abi_dod_settlement.go
  vm/contract/abi/abi_dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement_types.go
  vm/contract/abi/abi_dod_settlement_types_enum.go
  vm/contract/abi/abi_dod_settlement_types_gen.go
  vm/contract/abi/abi_dod_settlement_types_gen_test.go
  vm/contract/contract.go
  vm/contract/dod_settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: change some structure and interfaces
  cmd/client/commands/dod_settlement_change_order.go
  cmd/client/commands/dod_settlement_change_response.go
  cmd/client/commands/dod_settlement_create_order.go
  cmd/client/commands/dod_settlement_create_response.go
  cmd/client/commands/dod_settlement_terminate_response.go
  cmd/client/commands/dod_settlement_update_order_info.go
  cmd/client/commands/dod_settlement_update_response.go
  rpc/api/dod_settlement.go
  vm/contract/abi/abi_dod_settlement.go
  vm/contract/abi/abi_dod_settlement_types.go
  vm/contract/abi/abi_dod_settlement_types_enum.go
  vm/contract/abi/abi_dod_settlement_types_gen.go
  vm/contract/abi/abi_dod_settlement_types_gen_test.go
  vm/contract/dod_settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add some check
  vm/contract/abi/abi_dod_settlement_types.go
Owners: @gythialy

fix: move privacy config to v7
  chain/permission_service.go
  config/config_v6.go
  config/config_v7.go
  config/migration_v5_v6.go
  config/migration_v6_v7.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/processor.go
  consensus/pov/pov_state.go
  ledger/ledger_vm_store_test.go
  ledger/relation/db/sqlite.go
  rpc/api/ptmkey_test.go
  vm/contract/abi/abi_ptmkey.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: use peerid instead of ip + port to reject node connection
  go.mod
  go.sum
  p2p/connectionGater.go
  p2p/connectionGater_test.go
  p2p/node.go
  p2p/protector.go
  p2p/qlcService.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

.github/CODEOWNERS:

*  @gythialy @wenyuangui @wenchaopeng @zengchen221 @lc3091

/ledger/         @zengchen221
/p2p/            @wenchaopeng
/consensus/pov   @wenyuangui
/consensus/dpos  @lc3091
/vm/             @gythialy
