Repository qlcchain/go-qlc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

.github/CODEOWNERS:

*  @gythialy @wenyuangui @wenchaopeng @zengchen221 @lc3091

/ledger/         @zengchen221
/p2p/            @wenchaopeng
/consensus/pov   @wenyuangui
/consensus/dpos  @lc3091
/vm/             @gythialy

fix: update dpos unit test (#999)
  consensus/dpos/active_transaction_test.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/dpos_impl_test.go
  consensus/dpos/dpos_integration_test.go
  consensus/dpos/dpos_test.go
  consensus/dpos/online.go
  consensus/dpos/processor.go
  consensus/dpos/processor_test.go
  vm/contract/mintage.go
Owners: @lc3091, @gythialy

fix: golang ci fix
  chain/log_service.go
  chain/log_service_test.go
  chain/pov_service_test.go
  chain/resendblock_service_test.go
  cmd/client/commands/debug_consensus_feed.go
  cmd/client/commands/debug_consensus_get_perf.go
  cmd/client/commands/debug_consensus_set_perf.go
  cmd/client/commands/debug_uncheck_analysis.go
  cmd/client/commands/dpki_verifier_heart.go
  cmd/server/commands/removedb.go
  cmd/server/commands/root.go
  consensus/dpos/active_transaction_test.go
  consensus/dpos/dpos_impl_test.go
  consensus/dpos/dpos_test.go
  consensus/dpos/eletion_test.go
  consensus/dpos/processor_test.go
  consensus/pov/pov_chain.go
  go.mod
  go.sum
  mock/mock_test.go
  mock/mocks/store.go
  p2p/protos/pb/message.pb.go
  p2p/protos/pb/messagepb_test.go
  rpc/api/net_test.go
  vm/contract/abi/abi_mintage_test.go
  vm/contract/abi/abi_settlement_gen.go
  vm/contract/abi/mock_ledger_test.go
  vm/contract/contract_test.go
  vm/contract/mock_ledger_test.go
  vm/contract/settlement_test.go
  vm/vmstore/vm_store.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: use domain name instead of ip for bootstrap node (#992)
  chain/bootnode_http_service.go
  chain/bootnode_http_service_test.go
  chain/context/chain_context.go
  chain/helper.go
  chain/p2p_service_test.go
  config/config_v1_default.go
  config/config_v1_testnet.go
  config/config_v2.go
  config/config_v2_default.go
  config/config_v2_testnet.go
  config/defaults_net.go
  config/defaults_testnet.go
  config/migration_v5_v6.go
  p2p/bootstrap_test.go
  p2p/discovery_test.go
  p2p/messageMonitor_test.go
  p2p/node.go
  p2p/node_test.go
  p2p/streamManager_test.go
  test/blockCacheRollback_test.go
  test/fork_test.go
  test/transaction_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add pov built in miner
  chain/miner_service.go
  common/topic/messages.go
  config/config_v4.go
  consensus/pov/pov_impl.go
  miner/cpu_mining.go
  miner/miner.go
  miner/miner_test.go
  miner/pov_worker.go
  mock/mock_pov.go
  rpc/api/pov.go
  rpc/api/pov_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: consensus testcase not close ledger normally
  consensus/dpos/dpos_test.go
  consensus/pov/pov_pow_test.go
  ledger/cache_test.go
  ledger/ledger_dump_test.go
  ledger/ledger_pov_test.go
  ledger/ledger_test.go
  ledger/relation/relation_impl.go
  ledger/relation/relation_manage.go
  rpc/api/account_test.go
  rpc/api/chain_test.go
Owners: @lc3091, @wenyuangui, @zengchen221, @gythialy, @wenchaopeng

feat: code format
  consensus/dpos/dpos_test.go
  ledger/ledger_dump_test.go
  ledger/relation/relation_manage.go
  rpc/api/account_test.go
  rpc/api/api_test.go
  rpc/api/chain_test.go
Owners: @lc3091, @zengchen221, @gythialy, @wenyuangui, @wenchaopeng

fix: ledger not closed normally in consensus testcase (#1000)
  consensus/dpos/dpos_test.go
  consensus/pov/pov_pow_test.go
  ledger/cache_test.go
  ledger/ledger_dump_test.go
  ledger/ledger_pov_test.go
  ledger/ledger_test.go
  ledger/relation/relation_impl.go
  ledger/relation/relation_manage.go
  rpc/api/account_test.go
  rpc/api/api_test.go
  rpc/api/chain_test.go
Owners: @lc3091, @wenyuangui, @zengchen221, @gythialy, @wenchaopeng

feat: add pov chain params in config file
  config/config_v4.go
  config/migration_v5_v6.go
  consensus/pov/consensus_pov.go
  consensus/pov/pov_chain.go
  consensus/pov/pov_impl.go
  consensus/pov/pov_impl_test.go
  consensus/pov/pov_pow.go
  consensus/pov/pov_pow_test.go
  consensus/pov/pov_verifier_test.go
  miner/pov_worker.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: fix pov config testcase
  config/config_v4.go
  miner/miner_test.go
  mock/mock_pov.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: implement register asset
  common/goroutine.go
  common/goroutine_test.go
  config/verifier.go
  config/verifier_test.go
  consensus/dpos/active_transaction_test.go
  consensus/dpos/dpos_impl_test.go
  consensus/dpos/processor_test.go
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_enum.go
  vm/contract/abi/abi_settlement_enum_test.go
  vm/contract/abi/abi_settlement_gen.go
  vm/contract/abi/abi_settlement_gen_test.go
  vm/contract/abi/abi_settlement_test.go
  vm/contract/contract.go
  vm/contract/settlement.go
  vm/contract/settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: implement register asset RPC
  rpc/api/settlement.go
  rpc/api/settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: fix dpos testcase
  consensus/dpos/dpos_integration_test.go
Owners: @lc3091

feat: implement asset registration (#1002)
  common/goroutine.go
  common/goroutine_test.go
  config/verifier.go
  config/verifier_test.go
  consensus/dpos/active_transaction_test.go
  consensus/dpos/dpos_impl_test.go
  consensus/dpos/processor_test.go
  rpc/api/settlement.go
  rpc/api/settlement_test.go
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_enum.go
  vm/contract/abi/abi_settlement_enum_test.go
  vm/contract/abi/abi_settlement_gen.go
  vm/contract/abi/abi_settlement_gen_test.go
  vm/contract/abi/abi_settlement_test.go
  vm/contract/contract.go
  vm/contract/settlement.go
  vm/contract/settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: add p2p testcases
  .codecov.yml
  p2p/bootstrap.go
  p2p/bootstrap_test.go
  p2p/discovery.go
  p2p/discovery_test.go
  p2p/messageMonitor.go
  p2p/messageMonitor_test.go
  p2p/node_test.go
  p2p/streamManager_test.go
  p2p/sync.go
  p2p/sync_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add pov builtin miner (#1001)
  chain/miner_service.go
  common/topic/messages.go
  config/config_v4.go
  config/migration_v5_v6.go
  consensus/dpos/dpos_integration_test.go
  consensus/pov/consensus_pov.go
  consensus/pov/pov_chain.go
  consensus/pov/pov_impl.go
  consensus/pov/pov_impl_test.go
  consensus/pov/pov_pow.go
  consensus/pov/pov_pow_test.go
  consensus/pov/pov_verifier_test.go
  miner/cpu_mining.go
  miner/miner.go
  miner/miner_test.go
  miner/pov_worker.go
  rpc/api/pov.go
  rpc/api/pov_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: add mintage and pledge testcase in rpc
  mock/mock.go
  rpc/api/mintage.go
  rpc/api/mintage_test.go
  rpc/api/nep5_pledge_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: update common.types test cases
  common/types/generic_test.go
  common/types/seed.go
  common/types/seed_gen.go
  common/types/seed_gen_test.go
  common/types/seed_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: add/update mintage/blackhole/pledge/rewards contract test cases
  common/types/generic_test.go
  miner/miner.go
  rpc/api/black_hole.go
  rpc/api/black_hole_test.go
  rpc/api/contract.go
  rpc/api/contract_test.go
  rpc/api/mintage.go
  rpc/api/mintage_test.go
  rpc/api/nep5_pledge.go
  rpc/api/nep5_pledge_test.go
  rpc/api/rewards.go
  rpc/api/rewards_test.go
  rpc/apis.go
  vm/contract/abi/abi_blackhole.go
  vm/contract/abi/abi_rewards.go
  vm/contract/mintage.go
  vm/contract/nep5_pledge.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

chore: update go builder version
  .github/workflows/go.yml
  Makefile
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

style: format code by goimports -local
  chain/bootnode_http_service.go
  chain/log_service.go
  chain/log_service_test.go
  chain/pov_service_test.go
  chain/resendblock_service_test.go
  ci/travis.gofmt.sh
  cmd/client/commands/debug_consensus_feed.go
  cmd/client/commands/debug_consensus_get_perf.go
  cmd/client/commands/debug_consensus_set_perf.go
  cmd/client/commands/debug_uncheck_analysis.go
  cmd/client/commands/dpki_verifier_heart.go
  cmd/server/commands/removedb.go
  cmd/server/commands/root.go
  consensus/dpos/dpos_test.go
  consensus/dpos/eletion_test.go
  consensus/pov/pov_chain.go
  miner/miner.go
  mock/mock_test.go
  p2p/sync_test.go
  rpc/api/black_hole_test.go
  rpc/api/contract_test.go
  rpc/api/mintage_test.go
  rpc/api/nep5_pledge_test.go
  rpc/api/net_test.go
  rpc/api/rewards_test.go
  vm/contract/abi/abi_mintage_test.go
  vm/contract/abi/abi_settlement_gen.go
  vm/contract/abi/mock_ledger_test.go
  vm/contract/contract_test.go
  vm/contract/mock_ledger_test.go
  vm/contract/settlement_test.go
  vm/vmstore/vm_store.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

refactor: verify saved asset data
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_test.go
  vm/contract/settlement_test.go
Owners: @gythialy

feat: add more ledger testcase
  ledger/ledger_account.go
  ledger/ledger_block.go
  ledger/ledger_generic.go
  ledger/ledger_pending.go
  ledger/ledger_represention.go
  ledger/ledger_smartblock.go
  ledger/ledger_uncheck.go
  ledger/process/cache_processor.go
  ledger/process/ledger_check.go
  ledger/process/ledger_processor.go
  ledger/process/ledger_processor_test.go
  ledger/process/rollback.go
  ledger/process/rollback_test.go
Owners: @zengchen221

fix: testcase err
  ledger/process/ledger_processor.go
Owners: @zengchen221

fix: testcase error
  rpc/api/debug_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add testcase
  ledger/cache.go
  ledger/process/ledger_processor.go
  ledger/process/rollback.go
  rpc/api/debug_test.go
Owners: @zengchen221, @gythialy, @wenyuangui, @wenchaopeng, @lc3091

feat: add ledger testcase
  ledger/process/ledger_processor.go
  ledger/process/ledger_processor_test.go
Owners: @zengchen221

feat: add api testcase
  ledger/ledger_account.go
  ledger/ledger_account_test.go
  ledger/ledger_block.go
  ledger/ledger_dump.go
  ledger/ledger_frontier.go
  ledger/ledger_peersInfo.go
  ledger/ledger_pending.go
  ledger/ledger_represention.go
  ledger/ledger_smartblock.go
  ledger/ledger_sync.go
  ledger/ledger_test.go
  ledger/ledger_uncheck.go
  ledger/ledger_vote_history.go
  ledger/ledgerstore.go
  ledger/process/cache_processor_test.go
  ledger/process/ledger_processor_test.go
  mock/mocks/store.go
  rpc/api/debug.go
  rpc/api/debug_test.go
  rpc/api/ledger_test.go
Owners: @zengchen221, @gythialy, @wenyuangui, @wenchaopeng, @lc3091

feat: format code
  ledger/process/ledger_processor.go
  ledger/process/ledger_processor_test.go
Owners: @zengchen221

fix: get boot node error
  p2p/node.go
Owners: @wenchaopeng

feat: add more ledger/rpc testcase (#1006)
  ledger/cache.go
  ledger/ledger_account.go
  ledger/ledger_account_test.go
  ledger/ledger_block.go
  ledger/ledger_dump.go
  ledger/ledger_frontier.go
  ledger/ledger_generic.go
  ledger/ledger_peersInfo.go
  ledger/ledger_pending.go
  ledger/ledger_represention.go
  ledger/ledger_smartblock.go
  ledger/ledger_sync.go
  ledger/ledger_test.go
  ledger/ledger_uncheck.go
  ledger/ledger_vote_history.go
  ledger/ledgerstore.go
  ledger/process/cache_processor.go
  ledger/process/cache_processor_test.go
  ledger/process/ledger_check.go
  ledger/process/ledger_processor.go
  ledger/process/ledger_processor_test.go
  ledger/process/rollback.go
  ledger/process/rollback_test.go
  mock/mocks/store.go
  rpc/api/debug.go
  rpc/api/debug_test.go
  rpc/api/ledger_test.go
Owners: @zengchen221, @gythialy, @wenyuangui, @wenchaopeng, @lc3091

test: update pov miner testcase
  miner/miner_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: add simple json test cases
  common/simplejson/simplejson_go10_test.go
  common/simplejson/simplejson_go11_test.go
  common/simplejson/simplejson_test.go
  go.mod
  go.sum
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: add util test cases
  chain/consensus_service.go
  config/config_v6.go
  config/migration_v5_v6.go
  rpc/api/util.go
  rpc/api/util_test.go
  rpc/api/wallet.go
  rpc/apis.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: update pov txpool testcase
  consensus/pov/pov_txpool_test.go
Owners: @wenyuangui

test: add util test cases (#1007)
  chain/consensus_service.go
  common/simplejson/simplejson_go10_test.go
  common/simplejson/simplejson_go11_test.go
  common/simplejson/simplejson_test.go
  config/config_v6.go
  config/migration_v5_v6.go
  go.mod
  go.sum
  rpc/api/util.go
  rpc/api/util_test.go
  rpc/api/wallet.go
  rpc/apis.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: update pov cs and miner testcase (#1008)
  consensus/pov/pov_txpool_test.go
  miner/miner_test.go
Owners: @wenyuangui, @gythialy, @wenchaopeng, @zengchen221, @lc3091

test: update resend service testcase
  chain/resendblock_service.go
  chain/resendblock_service_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: add pov state testcase
  consensus/pov/common_test.go
  consensus/pov/pov_chain_test.go
  consensus/pov/pov_impl_test.go
  consensus/pov/pov_verifier.go
  consensus/pov/pov_verifier_test.go
Owners: @wenyuangui

feat: implement permission control
  chain/ledger_service.go
  cmd/client/commands/permission.go
  cmd/client/commands/permission_admin_update_reward.go
  cmd/client/commands/permission_admin_update_send.go
  cmd/client/commands/permission_node_add.go
  cmd/client/commands/permission_node_remove.go
  cmd/client/commands/permission_node_update.go
  cmd/client/commands/root.go
  common/contract.go
  common/topic/topic.go
  common/types/address.go
  consensus/consensus_test.go
  consensus/dpos/dpos_impl.go
  ledger/process/ledger_check.go
  rpc/api/miner.go
  rpc/api/permission.go
  rpc/api/permission_test.go
  rpc/api/representative.go
  rpc/apis.go
  vm/contract/abi/abi_permission.go
  vm/contract/abi/abi_permission_test.go
  vm/contract/abi/abi_permission_types.go
  vm/contract/abi/abi_permission_types_gen.go
  vm/contract/abi/abi_permission_types_gen_test.go
  vm/contract/contract.go
  vm/contract/miner.go
  vm/contract/permission.go
  vm/contract/permission_test.go
  vm/contract/public_key_distribution.go
  vm/contract/representative.go
  vm/contract/settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: put publish block in BlockCacheProcess function
  common/topic/messages.go
  ledger/process/cache_processor.go
  p2p/qlcService.go
  rpc/api/ledger.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091
