Repository qlcchain/go-qlc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: modify vm log print
  vm/vmstore/vm_store.go
Owners: @gythialy

feat: modify vm log print (#1131)
  vm/vmstore/vm_store.go
Owners: @gythialy

fix: update product by seq
  cmd/client/commands/dod_settlement_update_order_info.go
  vm/contract/abi/abi_dod_settlement.go
  vm/contract/abi/abi_dod_settlement_types.go
  vm/contract/abi/abi_dod_settlement_types_gen.go
  vm/contract/dod_settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: update update product info
  cmd/client/commands/dod_settlement.go
  cmd/client/commands/dod_settlement_change_order.go
  cmd/client/commands/dod_settlement_create_order.go
  cmd/client/commands/dod_settlement_terminate_order.go
  cmd/client/commands/dod_settlement_update_order_info.go
  cmd/client/commands/dod_settlement_update_product_info.go
  rpc/api/dod_settlement.go
  rpc/api/dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement.go
  vm/contract/abi/abi_dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement_types.go
  vm/contract/abi/abi_dod_settlement_types_gen.go
  vm/contract/abi/abi_dod_settlement_types_gen_test.go
  vm/contract/abi/abi_dod_settlement_types_test.go
  vm/contract/dod_settlement.go
  vm/contract/dod_settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: update product info
  rpc/api/dod_settlement.go
  vm/contract/abi/abi_dod_settlement.go
  vm/contract/abi/abi_dod_settlement_types.go
  vm/contract/dod_settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: change return of getPendingResource
  rpc/api/dod_settlement.go
  vm/contract/abi/abi_dod_settlement_types.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: add product id to order info
  vm/contract/abi/abi_dod_settlement.go
  vm/contract/dod_settlement.go
Owners: @gythialy

fix: save product id by seller
  rpc/api/dod_settlement.go
  vm/contract/abi/abi_dod_settlement.go
  vm/contract/abi/abi_dod_settlement_types.go
  vm/contract/abi/abi_dod_settlement_types_gen.go
  vm/contract/dod_settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: get pending resource problem
  rpc/api/dod_settlement.go
  vm/contract/abi/abi_dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement_types.go
  vm/contract/abi/abi_dod_settlement_types_test.go
  vm/contract/dod_settlement.go
  vm/contract/dod_settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: return resource check when product id is not null
  rpc/api/dod_settlement.go
  vm/contract/dod_settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: change processor of update product id
  rpc/api/dod_settlement_test.go
  vm/contract/dod_settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: payg invoice bug
  vm/contract/abi/abi_dod_settlement.go
  vm/contract/abi/abi_dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement_types.go
  vm/contract/dod_settlement_test.go
Owners: @gythialy

fix: add unit test
  consensus/dpos/dpos_impl_test.go
  vm/contract/abi/abi_dod_settlement_types_test.go
Owners: @lc3091, @gythialy

fix: change the process of updating product id (#1132)
  cmd/client/commands/dod_settlement.go
  cmd/client/commands/dod_settlement_change_order.go
  cmd/client/commands/dod_settlement_create_order.go
  cmd/client/commands/dod_settlement_terminate_order.go
  cmd/client/commands/dod_settlement_update_order_info.go
  cmd/client/commands/dod_settlement_update_product_info.go
  consensus/dpos/dpos_impl_test.go
  rpc/api/dod_settlement.go
  rpc/api/dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement.go
  vm/contract/abi/abi_dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement_types.go
  vm/contract/abi/abi_dod_settlement_types_gen.go
  vm/contract/abi/abi_dod_settlement_types_gen_test.go
  vm/contract/abi/abi_dod_settlement_types_test.go
  vm/contract/dod_settlement.go
  vm/contract/dod_settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: cli support dod settlement private tx
  cmd/client/commands/dod_settlement_change_order.go
  cmd/client/commands/dod_settlement_change_response.go
  cmd/client/commands/dod_settlement_create_order.go
  cmd/client/commands/dod_settlement_create_response.go
  cmd/client/commands/dod_settlement_terminate_order.go
  cmd/client/commands/dod_settlement_terminate_response.go
  cmd/client/commands/dod_settlement_update_order_info.go
  cmd/client/commands/dod_settlement_update_product_info.go
  cmd/client/commands/dod_settlement_update_response.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: dod_settlement pricacy problem
  cmd/client/commands/dod_settlement_change_order.go
  cmd/client/commands/dod_settlement_change_response.go
  cmd/client/commands/dod_settlement_create_order.go
  cmd/client/commands/dod_settlement_create_response.go
  cmd/client/commands/dod_settlement_terminate_order.go
  cmd/client/commands/dod_settlement_terminate_response.go
  cmd/client/commands/dod_settlement_update_order_info.go
  cmd/client/commands/dod_settlement_update_product_info.go
  cmd/client/commands/dod_settlement_update_response.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/dpos_impl_test.go
  consensus/pov/pov_state.go
  ledger/process/ledger_check.go
  ledger/process/ledger_processor.go
  rpc/api/contract.go
  vm/contract/dod_settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: sync master
  cmd/client/commands/dod_settlement_update_product_info.go
  ledger/ledger_block.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: compile err
  cmd/client/commands/dod_settlement_update_product_info.go
  consensus/dpos/dpos_impl_test.go
  vm/contract/dod_settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: ci err
  consensus/dpos/dpos_impl_test.go
Owners: @lc3091

feat: dod settlement privacy (#1133)
  cmd/client/commands/dod_settlement_change_order.go
  cmd/client/commands/dod_settlement_change_response.go
  cmd/client/commands/dod_settlement_create_order.go
  cmd/client/commands/dod_settlement_create_response.go
  cmd/client/commands/dod_settlement_terminate_order.go
  cmd/client/commands/dod_settlement_terminate_response.go
  cmd/client/commands/dod_settlement_update_order_info.go
  cmd/client/commands/dod_settlement_update_product_info.go
  cmd/client/commands/dod_settlement_update_response.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/dpos_impl_test.go
  consensus/pov/pov_state.go
  ledger/ledger_block.go
  ledger/process/ledger_check.go
  ledger/process/ledger_processor.go
  rpc/api/contract.go
  vm/contract/dod_settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: add rpc getInternalIdByOrderId
  rpc/api/dod_settlement.go
  rpc/api/dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement_types.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: add rpc getInternalIdByOrderId (#1134)
  rpc/api/dod_settlement.go
  rpc/api/dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement_types.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: debug dod settlement price
  rpc/api/dod_settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: optimize dod settlement invoice
  vm/contract/abi/abi_dod_settlement.go
  vm/contract/abi/abi_dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement_types.go
Owners: @gythialy

fix: optimize dod settlement invoice (#1137)
  vm/contract/abi/abi_dod_settlement.go
  vm/contract/abi/abi_dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement_types.go
Owners: @gythialy

fix: permission service auto add node issue
  chain/permission_service.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: permission service auto add node issue (#1138)
  chain/permission_service.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: when getting onlineinfo, own ip is incorrect
  p2p/node.go
Owners: @wenchaopeng

fix: when getting onlineinfo, own ip is incorrect (#1141)
  p2p/node.go
Owners: @wenchaopeng

feat: add grpc framework
  cmd/server/main.go
  config/config_v2.go
  config/config_v2_default.go
  config/config_v2_testnet.go
  config/migration_v6_v7.go
  go.mod
  go.sum
  privacy/client.go
  rpc/grpc/client/client.go
  rpc/grpc/proto/types.pb.go
  rpc/grpc/proto/types.pb.gw.go
  rpc/grpc/proto/types.proto
  rpc/grpc/proto/types.swagger.json
  rpc/grpc/server/chain.go
  rpc/grpc/server/server.go
  rpc/rpc.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: define base proto
  go.mod
  go.sum
  rpc/grpc/client/client.go
  rpc/grpc/proto/account.pb.go
  rpc/grpc/proto/account.pb.gw.go
  rpc/grpc/proto/account.proto
  rpc/grpc/proto/basic.pb.go
  rpc/grpc/proto/basic.proto
  rpc/grpc/proto/chain.pb.go
  rpc/grpc/proto/chain.pb.gw.go
  rpc/grpc/proto/chain.proto
  rpc/grpc/proto/common.pb.go
  rpc/grpc/proto/common.proto
  rpc/grpc/proto/ledger.pb.go
  rpc/grpc/proto/ledger.pb.gw.go
  rpc/grpc/proto/ledger.proto
  rpc/grpc/proto/types.pb.go
  rpc/grpc/proto/types.pb.gw.go
  rpc/grpc/proto/types.proto
  rpc/grpc/proto/types.swagger.json
  rpc/grpc/server/account.go
  rpc/grpc/server/chain.go
  rpc/grpc/server/ledger.go
  rpc/grpc/server/server.go
  rpc/grpc/server/test_rpc.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: update proto type
  rpc/grpc/proto/basic.pb.go
  rpc/grpc/proto/basic.proto
  rpc/grpc/proto/ledger.pb.go
  rpc/grpc/proto/ledger.pb.gw.go
  rpc/grpc/proto/ledger.proto
  rpc/grpc/server/ledger.go
  rpc/grpc/server/server.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: fix server error
  rpc/grpc/apis/blackhole.go
  rpc/grpc/apis/common.go
  rpc/grpc/apis/ledger.go
  rpc/grpc/apis/metrics.go
  rpc/grpc/apis/miner.go
  rpc/grpc/apis/mintage.go
  rpc/grpc/apis/nep5_pledge.go
  rpc/grpc/apis/net.go
  rpc/grpc/apis/ptmkey.go
  rpc/grpc/apis/public_key_distribution.go
  rpc/grpc/apis/representative.go
  rpc/grpc/apis/rewards.go
  rpc/grpc/apis/settlement.go
  rpc/grpc/apis/util.go
  rpc/grpc/proto/metrics.pb.go
  rpc/grpc/proto/metrics.proto
  rpc/grpc/proto/nep5_pledge.pb.go
  rpc/grpc/proto/nep5_pledge.proto
  rpc/grpc/proto/publicKeyDistribution.pb.go
  rpc/grpc/proto/publicKeyDistribution.proto
  rpc/grpc/proto/representative.pb.go
  rpc/grpc/proto/representative.proto
  rpc/grpc/proto/types/contract.pb.go
  rpc/grpc/proto/types/contract.proto
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: update common type
  rpc/grpc/apis/account.go
  rpc/grpc/apis/blackhole.go
  rpc/grpc/apis/common.go
  rpc/grpc/apis/contract.go
  rpc/grpc/apis/ledger.go
  rpc/grpc/apis/ledger_mock_test.go
  rpc/grpc/apis/miner.go
  rpc/grpc/apis/nep5_pledge.go
  rpc/grpc/apis/net.go
  rpc/grpc/apis/permission.go
  rpc/grpc/apis/ptmkey.go
  rpc/grpc/apis/public_key_distribution.go
  rpc/grpc/apis/representative.go
  rpc/grpc/apis/rewards.go
  rpc/grpc/apis/settlement.go
  rpc/grpc/apis/util.go
  rpc/grpc/apis/util_test.go
  rpc/grpc/proto/settlement.pb.go
  rpc/grpc/proto/settlement.pb.gw.go
  rpc/grpc/proto/settlement.proto
  rpc/grpc/proto/types/contract.pb.go
  rpc/grpc/proto/types/contract.proto
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: update config
  chain/context/chain_context.go
  config/config.go
  config/config_test.go
  config/config_v2.go
  config/config_v2_default.go
  config/config_v2_testnet.go
  config/config_v8.go
  config/defaults_net.go
  config/defaults_testnet.go
  config/migration_v7_v8.go
  config/migration_v7_v8_test.go
  rpc/grpc/apis/blackhole.go
  rpc/grpc/apis/blockhole_test.go
  rpc/grpc/apis/common.go
  rpc/grpc/apis/ledger.go
  rpc/grpc/apis/miner.go
  rpc/grpc/apis/nep5_pledge.go
  rpc/grpc/apis/ptmkey_test.go
  rpc/grpc/apis/public_key_distribution.go
  rpc/grpc/apis/representative.go
  rpc/grpc/apis/rewards.go
  rpc/grpc/apis/util.go
  rpc/grpc/proto/blackhole.pb.go
  rpc/grpc/proto/files/blackhole.proto
  rpc/grpc/proto/swagger/blackhole.swagger.json
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add test case
  rpc/grpc/apis/common.go
  rpc/grpc/apis/pov.go
  rpc/grpc/apis/ptmkey_test.go
  rpc/grpc/client/client.go
  rpc/grpc/proto/pov.pb.go
  rpc/grpc/proto/pov.pb.gw.go
  rpc/grpc/proto/pov.proto
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: merge master branch
  chain/permission_service.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/processor.go
  rpc/api/dod_settlement_test.go
  rpc/grpc/apis/account.go
  rpc/grpc/apis/account_test.go
  rpc/grpc/apis/blockhole_test.go
  rpc/grpc/apis/chain_test.go
  rpc/grpc/apis/common.go
  rpc/grpc/apis/contract.go
  rpc/grpc/apis/contract_test.go
  rpc/grpc/apis/ledger.go
  rpc/grpc/apis/ledger_mock_test.go
  rpc/grpc/apis/ledger_test.go
  rpc/grpc/apis/metrics_test.go
  rpc/grpc/apis/miner_test.go
  rpc/grpc/apis/mintage.go
  rpc/grpc/apis/mintage_test.go
  rpc/grpc/apis/nep5_pledge.go
  rpc/grpc/apis/nep5_pledge_test.go
  rpc/grpc/apis/net_test.go
  rpc/grpc/apis/permission_test.go
  rpc/grpc/apis/pov.go
  rpc/grpc/apis/pov_test.go
  rpc/grpc/apis/privacy_test.go
  rpc/grpc/apis/ptmkey_test.go
  rpc/grpc/apis/public_key_distribution_test.go
  rpc/grpc/apis/representative.go
  rpc/grpc/apis/representative_test.go
  rpc/grpc/apis/rewards_test.go
  rpc/grpc/apis/settlement.go
  rpc/grpc/apis/settlement_test.go
  rpc/grpc/apis/util_test.go
  rpc/grpc/server/server_test.go
  rpc/rpc.go
  vm/contract/abi/abi_dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement_types.go
  vm/contract/abi/abi_ptmkey.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add grpc testcase
  rpc/api/ledger_test.go
  rpc/grpc/apis/blackhole_test.go
  rpc/grpc/apis/blockhole_test.go
  rpc/grpc/apis/chain_test.go
  rpc/grpc/apis/common.go
  rpc/grpc/apis/contract_test.go
  rpc/grpc/apis/ledger.go
  rpc/grpc/apis/ledger_mock_test.go
  rpc/grpc/apis/ledger_test.go
  rpc/grpc/apis/metrics_test.go
  rpc/grpc/apis/miner_test.go
  rpc/grpc/apis/mintage.go
  rpc/grpc/apis/mintage_test.go
  rpc/grpc/apis/nep5_pledge.go
  rpc/grpc/apis/nep5_pledge_test.go
  rpc/grpc/apis/net_test.go
  rpc/grpc/apis/permission_test.go
  rpc/grpc/apis/test_rpc.go
  rpc/grpc/apis/util_test.go
  rpc/grpc/proto/ledger.pb.go
  rpc/grpc/proto/ledger.proto
  rpc/grpc/proto/types.pb.go
  rpc/grpc/proto/types.proto
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add interface
  rpc/api/ledger.go
  rpc/api/pov.go
  rpc/api/pov_pubsub.go
  rpc/api/pov_test.go
  rpc/api/subscribe.go
  rpc/grpc/apis/ledger.go
  rpc/grpc/apis/pov.go
  rpc/grpc/client/client.go
  rpc/grpc/proto/files/pov.proto
  rpc/grpc/proto/pov.pb.go
  rpc/grpc/proto/pov.pb.gw.go
  rpc/grpc/proto/swagger/pov.swagger.json
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: update config
  config/config_v2.go
  config/config_v2_default.go
  config/config_v2_testnet.go
  rpc/grpc/server/server.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

.github/CODEOWNERS:

*  @gythialy @wenyuangui @wenchaopeng @zengchen221 @lc3091

/ledger/         @zengchen221
/p2p/            @wenchaopeng
/consensus/pov   @wenyuangui
/consensus/dpos  @lc3091
/vm/             @gythialy
