Repository qlcchain/go-qlc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

.github/CODEOWNERS:

*  @gythialy @wenyuangui @wenchaopeng @zengchen221 @lc3091

/ledger/         @zengchen221
/p2p/            @wenchaopeng
/consensus/pov   @wenyuangui
/consensus/dpos  @lc3091
/vm/             @gythialy

fix: optimize trie cache to reduce memory usage in syncing
  consensus/pov/pov_chain.go
  trie/node_pool.go
Owners: @wenyuangui, @gythialy, @wenchaopeng, @zengchen221, @lc3091

fix: dpos debug
  cmd/client/commands/debug.go
  cmd/client/commands/debug_consensus_Info.go
  cmd/client/commands/debug_consensus_get_perf.go
  cmd/client/commands/debug_consensus_set_perf.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/processor.go
  rpc/api/debug.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: dpos optimize
  consensus/dpos/debug.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/election.go
  consensus/dpos/online.go
  consensus/dpos/processor.go
Owners: @lc3091

fix: proirity processing ack
  consensus/dpos/processor.go
Owners: @lc3091

fix: priority processing acks
  consensus/dpos/processor.go
Owners: @lc3091

fix: dpos optimize
  consensus/dpos/dpos_impl.go
Owners: @lc3091

fix: gotest err
  consensus/dpos/cache_test.go
Owners: @lc3091

fix: add test case
  common/contract_test.go
  common/convert_test.go
  common/params_test.go
  consensus/dpos/debug_test.go
  rpc/api/debug_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: dpos optimizing (#932)
  cmd/client/commands/debug.go
  cmd/client/commands/debug_consensus_Info.go
  cmd/client/commands/debug_consensus_feed.go
  cmd/client/commands/debug_consensus_get_perf.go
  cmd/client/commands/debug_consensus_set_perf.go
  common/contract_test.go
  common/convert_test.go
  common/module_rpc.go
  common/params_test.go
  consensus/dpos/cache_test.go
  consensus/dpos/debug.go
  consensus/dpos/debug_test.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/dpos_integration_test.go
  consensus/dpos/election.go
  consensus/dpos/online.go
  consensus/dpos/processor.go
  p2p/sync.go
  rpc/api/debug.go
  rpc/api/debug_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: confirmed block cache optimize
  consensus/dpos/cache.go
  consensus/dpos/cache_test.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/online.go
  consensus/dpos/online_test.go
Owners: @lc3091

fix: generate settlement contract rewards block
  rpc/api/settlement.go
  vm/contract/settlement.go
  vm/contract/settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: add debug cmd
  cmd/client/commands/debug.go
  cmd/client/commands/debug_gc.go
  consensus/dpos/dpos_impl.go
  rpc/api/debug.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: generate settlement contract rewards block
  rpc/api/settlement.go
  vm/contract/settlement.go
  vm/contract/settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: update
  cmd/client/commands/debug.go
  cmd/client/commands/debug_gc.go
  consensus/dpos/dpos_impl.go
  rpc/api/debug.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: add debug
  common/module_rpc.go
  consensus/dpos/dpos_impl.go
  rpc/api/debug.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: pov should not reset chain in default
  cmd/server/commands/removedb.go
  common/storage/db/badger.go
  consensus/pov/pov_chain.go
  ledger/ledger_pov.go
  ledger/ledger_pov_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add settlement_getCDRStatusByCdrData interface
  rpc/api/settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: change resend service params
  chain/resendblock_service.go
  consensus/dpos/dpos_impl.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

refactor: simplify wallet implemention
  common/util/math_integer.go
  common/util/math_test.go
  rpc/api/wallet.go
  wallet/wallet_impl.go
  wallet/wallet_impl_test.go
  wallet/wallet_manager_impl.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

refactor: schema interface
  common/storage/relationdb/mysql.go
  common/storage/relationdb/relation.go
  common/storage/relationdb/sqlite.go
  common/storage/relationdb/sqlite_test.go
  common/types/block_state.go
  common/types/schema.go
  ledger/relation/relation_impl.go
  ledger/relation/relation_manage.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add storage testcase
  common/storage/db/badger_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

chore: fix build qlc_builder docker image
  .github/workflows/go-qlc-builder.yml
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: update blackhole contract test cases
  vm/contract/blackhole.go
  vm/contract/blackhole_test.go
  vm/contract/contract.go
Owners: @gythialy

test: add test cases for vm/contract/contract
  vm/contract/contract.go
  vm/contract/contract_test.go
Owners: @gythialy

refactor: service interface
  chain/autoreceive_service.go
  chain/chainmanager_service.go
  chain/context/chain_context_test.go
  chain/ledger_service.go
  chain/log_service.go
  chain/metrics_service.go
  chain/miner_service.go
  chain/p2p_service.go
  chain/pov_service.go
  chain/resendblock_service.go
  chain/rpc_service.go
  chain/wallet_service.go
  common/service.go
  p2p/sync.go
  rpc/api/debug.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: add pov type common testcase
  common/types/bignum_test.go
  common/types/block_pov.go
  common/types/block_pov_btc_test.go
  common/types/block_pov_test.go
  common/types/hexbytes_test.go
  common/types/state_pov_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: add service test cases
  chain/chainmanager_service.go
  chain/context/chain_context.go
  chain/context/chain_context_test.go
  chain/ledger_service_test.go
  chain/log_service.go
  chain/log_service_test.go
  chain/p2p_service_test.go
  chain/pov_service_test.go
  chain/resendblock_service.go
  chain/resendblock_service_test.go
  chain/rpc_service_test.go
  common/service.go
  common/types/state_pov_test.go
  rpc/api/settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: refactor resend service
  chain/resendblock_service.go
  consensus/dpos/dpos_impl.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: increase miner getWork timeout
  common/event/feed_event_bus.go
  consensus/pov/pov_txpool.go
  rpc/api/pov.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: optimize txpool selection
  consensus/pov/pov_txpool.go
Owners: @wenyuangui

refactor: update summary report data structure
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_gen.go
  vm/contract/abi/abi_settlement_gen_test.go
  vm/contract/abi/abi_settlement_test.go
Owners: @gythialy

feat: disable message signature and message encryption and decryption
  p2p/node.go
Owners: @wenchaopeng

feat: disable message signature and message encryption and decryption
  p2p/node.go
Owners: @wenchaopeng

fix: resend service bug/consensus blocked stopping
  chain/resendblock_service.go
  consensus/dpos/active_transactions.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/processor.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: disable message signature
  p2p/node.go
Owners: @wenchaopeng

feat: disable message signature (#948)
  p2p/node.go
Owners: @wenchaopeng

fix: modify tx pool time interval
  consensus/pov/pov_txpool.go
Owners: @wenyuangui

refactor: get genesis info interface
  config/config_manager.go
  config/genesis.go
  config/genesis_test.go
  config/migration_v5_v6_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: test bug
  consensus/dpos/cache_test.go
  consensus/dpos/online_test.go
Owners: @lc3091

fix: go lint
  consensus/dpos/active_transactions.go
  consensus/dpos/online.go
  consensus/dpos/processor.go
Owners: @lc3091
