Repository qlcchain/go-qlc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: testcase error
  config/config_v2_default.go
  config/config_v2_testnet.go
  rpc/grpc/apis/ledger.go
  rpc/grpc/apis/pov.go
  rpc/grpc/server/server.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: testcase error
  rpc/api/pov_test.go
  rpc/rpc_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add testcase
  rpc/grpc/apis/ledger.go
  rpc/grpc/apis/ledger_test.go
  rpc/grpc/apis/pov.go
  rpc/grpc/apis/pov_test.go
  rpc/grpc/proto/accountpb_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: merge master branch
  consensus/dpos/dpos_impl_test.go
  ledger/ledger.go
  ledger/ledger_block.go
  ledger/process/ledger_processor.go
  mock/mocks/store.go
Owners: @lc3091, @zengchen221, @gythialy, @wenyuangui, @wenchaopeng

fix: testcase error
  rpc/grpc/proto/accountpb_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

chore: fix stale workflow
  .github/workflows/stale.yml
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: support windows
  common/storage/db/migration/migration.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add log
  common/storage/db/migration/migration.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: upgrade badger to v2.0
  common/storage/db/badger.go
  common/storage/db/badger_test.go
  common/storage/db/migration/migration.go
  go.mod
  go.sum
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add testcase
  common/storage/db/badger.go
  common/storage/db/migration/migration.go
  common/storage/db/migration/migration_test.go
  go.sum
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add log
  common/storage/db/migration/migration.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: upgrade badger to v2.0 (#1150)
  common/storage/db/badger.go
  common/storage/db/badger_test.go
  common/storage/db/migration/migration.go
  common/storage/db/migration/migration_test.go
  go.mod
  go.sum
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: optimize gap pov process
  common/storage/storage.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/election.go
  consensus/dpos/processor.go
  go.sum
  ledger/ledger_uncheck.go
  ledger/ledger_uncheck_test.go
  ledger/process/ledger_check.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: remove dod settlement
  cmd/client/commands/dod_settlement.go
  cmd/client/commands/dod_settlement_change_order.go
  cmd/client/commands/dod_settlement_change_response.go
  cmd/client/commands/dod_settlement_create_order.go
  cmd/client/commands/dod_settlement_create_response.go
  cmd/client/commands/dod_settlement_terminate_order.go
  cmd/client/commands/dod_settlement_terminate_response.go
  cmd/client/commands/dod_settlement_update_order_info.go
  cmd/client/commands/dod_settlement_update_product_info.go
  cmd/client/commands/dod_settlement_update_response.go
  cmd/client/commands/root.go
  common/contract.go
  common/storage/storage.go
  common/vmcontract/contractaddress/address.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/dpos_impl_test.go
  consensus/dpos/processor.go
  ledger/ledger_uncheck.go
  ledger/ledger_uncheck_test.go
  ledger/process/ledger_check.go
  ledger/process/verifier.go
  mock/mocks/store.go
  rpc/api/dod_settlement.go
  rpc/api/dod_settlement_test.go
  rpc/apis.go
  vm/contract/abi/abi_dod_settlement.go
  vm/contract/abi/abi_dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement_types.go
  vm/contract/abi/abi_dod_settlement_types_enum.go
  vm/contract/abi/abi_dod_settlement_types_enum_test.go
  vm/contract/abi/abi_dod_settlement_types_gen.go
  vm/contract/abi/abi_dod_settlement_types_gen_test.go
  vm/contract/abi/abi_dod_settlement_types_test.go
  vm/contract/contract.go
  vm/contract/dod_settlement.go
  vm/contract/dod_settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: optimize gap pov process
  common/storage/storage.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/election.go
  consensus/dpos/processor.go
  go.sum
  ledger/ledger_uncheck.go
  ledger/ledger_uncheck_test.go
  ledger/process/ledger_check.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: change rep heart send policy and fix unit test err
  consensus/dpos/dpos_impl.go
  consensus/dpos/dpos_impl_test.go
  mock/mocks/store.go
Owners: @lc3091, @gythialy, @wenyuangui, @wenchaopeng, @zengchen221

fix: change rep heart policy and fix unit test err
  consensus/dpos/dpos_impl.go
  consensus/dpos/dpos_impl_test.go
  rpc/apis.go
Owners: @lc3091, @gythialy, @wenyuangui, @wenchaopeng, @zengchen221

chore: update build scripts
  .goreleaser.yml
  Makefile
  go.mod
  go.sum
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: enable the RPC module according to the configuration file
  config/config_v2_default.go
  config/config_v2_testnet.go
  config/migration_v7_v8.go
  rpc/api/debug.go
  rpc/apis.go
  rpc/rpc.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: enable the RPC module according to the configuration file (#1153)
  config/config_v2_default.go
  config/config_v2_testnet.go
  config/migration_v7_v8.go
  rpc/api/debug.go
  rpc/apis.go
  rpc/rpc.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

chore: update build scripts (#1152)
  .goreleaser.yml
  Makefile
  go.mod
  go.sum
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: optimize gap pov process
  common/storage/storage.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/election.go
  consensus/dpos/processor.go
  go.sum
  ledger/ledger_uncheck.go
  ledger/ledger_uncheck_test.go
  ledger/process/ledger_check.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: change rep heart send policy and fix unit test err
  consensus/dpos/dpos_impl.go
  consensus/dpos/dpos_impl_test.go
  mock/mocks/store.go
Owners: @lc3091, @gythialy, @wenyuangui, @wenchaopeng, @zengchen221

fix: rpc testcase error
  ledger/ledger_test.go
  rpc/rpc_test.go
Owners: @zengchen221, @gythialy, @wenyuangui, @wenchaopeng, @lc3091

.github/CODEOWNERS:

*  @gythialy @wenyuangui @wenchaopeng @zengchen221 @lc3091

/ledger/         @zengchen221
/p2p/            @wenchaopeng
/consensus/pov   @wenyuangui
/consensus/dpos  @lc3091
/vm/             @gythialy
