Repository qlcchain/go-qlc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

.github/CODEOWNERS:

*  @gythialy @wenyuangui @wenchaopeng @zengchen221 @lc3091

/ledger/         @zengchen221
/p2p/            @wenchaopeng
/consensus/pov   @wenyuangui
/consensus/dpos  @lc3091
/vm/             @gythialy

fix: change waitconfirmed block timeout to 30s
  consensus/dpos/dpos_integration_test.go
  consensus/dpos/dpos_test.go
  vm/contract/public_key_distribution_test.go
Owners: @lc3091, @gythialy

test: clean mock data
  chain/autoreceive_service.go
  chain/autoreceive_service_test.go
  chain/helper.go
  chain/helper_test.go
  ci/travis.codecov.sh
  consensus/dpos/dpos_integration_test.go
  consensus/dpos/dpos_test.go
  miner/miner_test.go
  mock/block.go
  mock/bock_testnet.go
  mock/mock.go
  rpc/api/black_hole_test.go
  rpc/api/debug_test.go
  rpc/api/ledger_test.go
  rpc/api/mintage_test.go
  rpc/api/mock_account_test.go
  rpc/api/mock_block_mainnet_test.go
  rpc/api/mock_block_testnet_test.go
  rpc/api/nep5_pledge_test.go
  rpc/api/rewards_test.go
  rpc/api/settlement_test.go
  rpc/api/util_test.go
  vm/contract/abi/mock_block_mainnet_test.go
  vm/contract/abi/mock_block_testnet_test.go
  vm/contract/abi/mock_ledger_test.go
  vm/contract/mock_block_mainnet_test.go
  vm/contract/mock_block_testnet_test.go
  vm/contract/mock_ledger_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: clean mock data (#1012)
  chain/autoreceive_service.go
  chain/autoreceive_service_test.go
  chain/helper.go
  chain/helper_test.go
  ci/travis.codecov.sh
  consensus/dpos/dpos_integration_test.go
  consensus/dpos/dpos_test.go
  miner/miner_test.go
  mock/block.go
  mock/bock_testnet.go
  mock/mock.go
  rpc/api/black_hole_test.go
  rpc/api/debug_test.go
  rpc/api/ledger_test.go
  rpc/api/mintage_test.go
  rpc/api/mock_account_test.go
  rpc/api/mock_block_mainnet_test.go
  rpc/api/mock_block_testnet_test.go
  rpc/api/nep5_pledge_test.go
  rpc/api/rewards_test.go
  rpc/api/settlement_test.go
  rpc/api/util_test.go
  vm/contract/abi/mock_block_mainnet_test.go
  vm/contract/abi/mock_block_testnet_test.go
  vm/contract/abi/mock_ledger_test.go
  vm/contract/mock_block_mainnet_test.go
  vm/contract/mock_block_testnet_test.go
  vm/contract/mock_ledger_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: implement permission control (#1010)
  chain/ledger_service.go
  cmd/client/commands/permission.go
  cmd/client/commands/permission_admin_update_reward.go
  cmd/client/commands/permission_admin_update_send.go
  cmd/client/commands/permission_node_add.go
  cmd/client/commands/permission_node_remove.go
  cmd/client/commands/permission_node_update.go
  cmd/client/commands/root.go
  common/contract.go
  common/topic/topic.go
  common/types/address.go
  consensus/consensus_test.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/dpos_integration_test.go
  consensus/dpos/dpos_test.go
  consensus/dpos/processor_test.go
  go.mod
  go.sum
  ledger/process/ledger_check.go
  mock/mocks/store.go
  p2p/protos/pb/message.pb.go
  p2p/protos/pb/messagepb_test.go
  rpc/api/miner.go
  rpc/api/permission.go
  rpc/api/permission_test.go
  rpc/api/representative.go
  rpc/apis.go
  vm/contract/abi/abi_permission.go
  vm/contract/abi/abi_permission_test.go
  vm/contract/abi/abi_permission_types.go
  vm/contract/abi/abi_permission_types_gen.go
  vm/contract/abi/abi_permission_types_gen_test.go
  vm/contract/contract.go
  vm/contract/miner.go
  vm/contract/permission.go
  vm/contract/permission_test.go
  vm/contract/public_key_distribution.go
  vm/contract/public_key_distribution_test.go
  vm/contract/representative.go
  vm/contract/settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

chore: update README
  README.md
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: nodes count exclude invalid
  vm/contract/abi/abi_permission.go
Owners: @gythialy

fix: change timeout test policy
  consensus/dpos/dpos_integration_test.go
  consensus/dpos/dpos_test.go
Owners: @lc3091

fix: ci
  consensus/dpos/dpos_integration_test.go
  consensus/dpos/dpos_test.go
Owners: @lc3091

fix: glang ci
  consensus/dpos/dpos_integration_test.go
  consensus/dpos/processor_test.go
Owners: @lc3091

fix: get BootNode error
  p2p/node.go
Owners: @wenchaopeng

fix: add test case
  consensus/dpos/dpos_impl_test.go
  consensus/dpos/online_test.go
Owners: @lc3091

fix: nodes count exclude the removed ones (#1014)
  consensus/dpos/dpos_impl_test.go
  consensus/dpos/dpos_integration_test.go
  consensus/dpos/dpos_test.go
  consensus/dpos/online_test.go
  consensus/dpos/processor_test.go
  vm/contract/abi/abi_permission.go
Owners: @lc3091, @gythialy

feat: non-root user inside the Docker container
  README.md
  docker/Dockerfile
  docker/Dockerfile_builder
  docker/docker-compose.yml
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add dev mode
  cmd/server/commands/root.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: non-root user inside the Docker container (#1024)
  README.md
  docker/Dockerfile
  docker/Dockerfile_builder
  docker/docker-compose.yml
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

replace referencing ledger.Ledger to ledger.Store
  consensus/consensus.go
  consensus/dpos/dpos_impl.go
  consensus/pov/pov_impl.go
  ledger/ledger.go
  ledger/ledger_account.go
  ledger/ledger_block.go
  ledger/ledger_dpos.go
  ledger/process/cache_processor.go
  ledger/process/ledger_processor.go
  ledger/process/rollback.go
  mock/mocks/store.go
  p2p/messageMonitor.go
  p2p/sync.go
  rpc/api/ledger.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: discard store
  common/storage/db/badger.go
  common/storage/storage.go
  consensus/pov/pov_chain.go
  ledger/cache.go
  ledger/ledger_pov.go
  ledger/ledger_represention.go
  ledger/process/rollback.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add privacy base framework
  chain/context/chain_context.go
  chain/helper.go
  chain/privacy_service.go
  common/topic/messages.go
  common/topic/topic.go
  common/types/block_state.go
  common/types/block_state_test.go
  config/config_v6.go
  go.mod
  go.sum
  privacy/client.go
  privacy/privacy.go
  privacy/ptm.go
  rpc/api/privacy.go
  rpc/apis.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: format code
  chain/autoreceive_service.go
  chain/autoreceive_service_test.go
  chain/bootnode_http_service.go
  chain/chainmanager_service.go
  chain/context/chain_context.go
  chain/context/chain_context_test.go
  chain/ledger_service.go
  chain/log_service.go
  chain/metrics_service.go
  chain/miner_service.go
  chain/p2p_service.go
  chain/pov_service.go
  chain/resendblock_service.go
  chain/resendblock_service_test.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/dpos_integration_test.go
  consensus/dpos/dpos_test.go
  consensus/dpos/processor.go
  consensus/pov/pov_chain_test.go
  consensus/pov/pov_state.go
  consensus/pov/pov_txpool.go
  consensus/pov/pov_verifier.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: update privacy controller module
  chain/helper.go
  common/topic/messages.go
  config/config_v6.go
  config/migration_v5_v6.go
  privacy/client.go
  privacy/privacy.go
  privacy/ptm.go
  rpc/api/privacy.go
  rpc/apis.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: update
  vm/contract/abi/abi_permission.go
Owners: @gythialy

fix: update ptm client apis
  privacy/client.go
  privacy/privacy.go
  privacy/ptm.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add http and unix socket to ptm
  privacy/client.go
  privacy/http.go
  privacy/ptm.go
  privacy/unix.go
  privacy/unix_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: update permission contract data in pov chain
  chain/ledger_service.go
  cmd/client/commands/permission.go
  cmd/client/commands/permission_admin_handover.go
  cmd/client/commands/permission_admin_update_reward.go
  cmd/client/commands/permission_admin_update_send.go
  cmd/client/commands/permission_node_remove.go
  cmd/client/commands/permission_node_update.go
  common/contract.go
  common/types/block_state.go
  common/types/block_state_test.go
  common/vmcontract/chaincontract/contract.go
  config/verifier_test.go
  consensus/dpos/processor.go
  go.mod
  go.sum
  miner/pov_worker.go
  mock/mock_pov.go
  mock/mocks/store.go
  rpc/api/permission.go
  rpc/api/permission_test.go
  rpc/api/pov_test.go
  vm/contract/abi/abi_permission.go
  vm/contract/abi/abi_permission_test.go
  vm/contract/abi/abi_permission_types.go
  vm/contract/abi/abi_permission_types_gen.go
  vm/contract/permission.go
  vm/contract/permission_test.go
  vm/contract/public_key_distribution_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: multi-party/normal summary reports matching status
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_test.go
Owners: @gythialy

fix: multi-party/normal summary reports matching status (#1034)
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_test.go
Owners: @gythialy

feat: permission optimize (#1033)
  chain/ledger_service.go
  cmd/client/commands/permission.go
  cmd/client/commands/permission_admin_handover.go
  cmd/client/commands/permission_admin_update_reward.go
  cmd/client/commands/permission_admin_update_send.go
  cmd/client/commands/permission_node_remove.go
  cmd/client/commands/permission_node_update.go
  common/contract.go
  common/types/block_state.go
  common/types/block_state_test.go
  common/vmcontract/chaincontract/contract.go
  config/verifier_test.go
  consensus/dpos/processor.go
  go.mod
  go.sum
  miner/pov_worker.go
  mock/mock_pov.go
  mock/mocks/store.go
  rpc/api/permission.go
  rpc/api/permission_test.go
  rpc/api/pov_test.go
  vm/contract/abi/abi_permission.go
  vm/contract/abi/abi_permission_test.go
  vm/contract/abi/abi_permission_types.go
  vm/contract/abi/abi_permission_types_gen.go
  vm/contract/permission.go
  vm/contract/permission_test.go
  vm/contract/public_key_distribution_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add privacy basic processing in dpos
  common/types/block_state.go
  consensus/dpos/dpos_impl.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

chore: update Github Actions
  .github/workflows/go.yml
  .github/workflows/release.yml
  .github/workflows/reviewdog.yml
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

chore: update Github Actions (#1045)
  .github/workflows/go.yml
  .github/workflows/release.yml
  .github/workflows/reviewdog.yml
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add privacy basic processing in ledger
  common/types/block_state.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/processor.go
  consensus/pov/pov_state.go
  ledger/process/ledger_check.go
  ledger/process/ledger_processor.go
  ledger/process/rollback.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: refactor relational table schema
  common/storage/relationdb/mysql.go
  common/storage/relationdb/pgsql.go
  common/storage/relationdb/relation.go
  common/storage/relationdb/sqlite.go
  common/storage/relationdb/sqlite_test.go
  common/types/block_state.go
  common/types/block_state_test.go
  common/types/schema.go
  ledger/cache.go
  ledger/ledger.go
  ledger/process/ledger_processor.go
  ledger/relation/db/mysql.go
  ledger/relation/db/relation.go
  ledger/relation/db/sqlite.go
  ledger/relation/db/sqlite_test.go
  ledger/relation/interface.go
  ledger/relation/relation_impl.go
  ledger/relation/relation_impl_test.go
  ledger/relation/relation_manage.go
  ledger/relation/relation_manage_test.go
  ledger/relation/schema.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: format code
  common/types/interface.go
  ledger/ledger_generic.go
  ledger/relation/relation_manage.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: table convert
  ledger/relation/schema.go
Owners: @zengchen221

feat: relation table type
  ledger/relation/schema.go
Owners: @zengchen221

feat: update schema type
  ledger/relation/schema.go
Owners: @zengchen221

fix: method handler crashed when size<count
  rpc/api/net.go
  rpc/api/net_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: refactor relational table schema (#1046)
  common/storage/relationdb/mysql.go
  common/storage/relationdb/pgsql.go
  common/storage/relationdb/relation.go
  common/storage/relationdb/sqlite.go
  common/storage/relationdb/sqlite_test.go
  common/types/block_state.go
  common/types/block_state_test.go
  common/types/interface.go
  common/types/schema.go
  ledger/cache.go
  ledger/ledger.go
  ledger/ledger_generic.go
  ledger/process/ledger_processor.go
  ledger/relation/db/mysql.go
  ledger/relation/db/relation.go
  ledger/relation/db/sqlite.go
  ledger/relation/db/sqlite_test.go
  ledger/relation/interface.go
  ledger/relation/relation_impl.go
  ledger/relation/relation_impl_test.go
  ledger/relation/relation_manage.go
  ledger/relation/relation_manage_test.go
  ledger/relation/schema.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: method handler crashed when size<count (#1047)
  rpc/api/net.go
  rpc/api/net_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

refactor: batch process CDR param
  rpc/api/settlement.go
  rpc/api/settlement_test.go
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_gen.go
  vm/contract/abi/abi_settlement_gen_test.go
  vm/contract/abi/abi_settlement_test.go
  vm/contract/settlement.go
  vm/contract/settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091
