Repository qlcchain/go-qlc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

.github/CODEOWNERS:

*  @gythialy @wenyuangui @wenchaopeng @zengchen221 @lc3091

/ledger/         @zengchen221
/p2p/            @wenchaopeng
/consensus/pov   @wenyuangui
/consensus/dpos  @lc3091
/vm/             @gythialy

refactor: calculate slice range
  rpc/api/settlement.go
  rpc/api/settlement_test.go
  vm/contract/settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: add pov statedb test case
  common/statedb/pov_statedb.go
  common/statedb/pov_statedb_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: implement settlement contract (#898)
  common/sync/mutex.go
  common/sync/mutex_test.go
  common/types/address.go
  common/types/benefit_gen.go
  common/types/block_pov_btc_gen.go
  common/types/unchecked_gen.go
  rpc/api/settlement.go
  rpc/api/settlement_test.go
  rpc/apis.go
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_enum.go
  vm/contract/abi/abi_settlement_enum_test.go
  vm/contract/abi/abi_settlement_gen.go
  vm/contract/abi/abi_settlement_gen_test.go
  vm/contract/abi/abi_settlement_test.go
  vm/contract/contract.go
  vm/contract/contract_test.go
  vm/contract/settlement.go
  vm/contract/settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

chore: merge branch algo-hybrid (#908)
  common/params_pov.go
  common/params_pov_testnet.go
  common/types/block_pov.go
  common/types/block_pov_btc.go
  common/types/hash.go
  common/types/pov_algo.go
  consensus/pov/pov_chain.go
  consensus/pov/pov_verifier.go
  miner/pov_worker.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: update libp2p package (#907)
  go.mod
  go.sum
  p2p/node.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: add pov consensus test case
  chain/pov_service.go
  consensus/dpos/dpos_test.go
  consensus/pov/consensus_pov_test.go
  consensus/pov/pov_impl.go
  consensus/pov/pov_impl_test.go
  consensus/pov/pov_sync_test.go
  consensus/pov/pov_txpool.go
  consensus/pov/pov_txpool_test.go
  consensus/pov/pov_verifier_test.go
  mock/mock.go
  mock/mock_pov.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: mintage api lack pov status
  common/genesis.go
  ledger/relation/relation_impl.go
  rpc/api/ledger.go
  rpc/api/mintage.go
  rpc/apis.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: mintage api lack pov status (#910)
  common/genesis.go
  ledger/relation/relation_impl.go
  rpc/api/ledger.go
  rpc/api/mintage.go
  rpc/apis.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add vm unit test cases
  consensus/dpos/dpos_integration_test.go
  consensus/dpos/dpos_test.go
  mock/block.go
  mock/bock_testnet.go
  mock/mock.go
  mock/mock_test.go
  vm/contract/contract.go
  vm/contract/public_key_distribution.go
  vm/contract/public_key_distribution_test.go
  vm/contract/representative.go
  vm/contract/representative_test.go
Owners: @lc3091, @gythialy, @wenyuangui, @wenchaopeng, @zengchen221

feat: update sendingstatus and dlrstatus for settlement
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_enum.go
  vm/contract/abi/abi_settlement_enum_test.go
  vm/contract/abi/abi_settlement_test.go
Owners: @gythialy

feat: implement terminate settlement contract
  go.sum
  rpc/api/settlement.go
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_enum.go
  vm/contract/abi/abi_settlement_enum_test.go
  vm/contract/abi/abi_settlement_gen.go
  vm/contract/abi/abi_settlement_gen_test.go
  vm/contract/abi/abi_settlement_test.go
  vm/contract/contract.go
  vm/contract/settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: implement billing report interface
  rpc/api/settlement.go
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_gen.go
  vm/contract/abi/abi_settlement_gen_test.go
  vm/contract/abi/abi_settlement_test.go
  vm/contract/settlement.go
  vm/contract/settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: add terminate settlement contract test cases
  vm/contract/settlement.go
  vm/contract/settlement_test.go
Owners: @gythialy

fix: typo
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_enum.go
  vm/contract/abi/abi_settlement_enum_test.go
  vm/contract/abi/abi_settlement_test.go
Owners: @gythialy

test: add billing report and invoice test cases
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_test.go
Owners: @gythialy

feat: add unit test/change dpki api
  common/contract.go
  common/types/state_pov.go
  common/types/state_pov_gen.go
  common/types/state_pov_gen_test.go
  go.mod
  go.sum
  p2p/node.go
  rpc/api/api_test.go
  rpc/api/ledger.go
  rpc/api/public_key_distribution.go
  rpc/api/public_key_distribution_test.go
  vm/contract/abi/abi_public_key_distribution.go
  vm/contract/abi/abi_public_key_distribution_test.go
  vm/contract/contract.go
  vm/contract/contract_test.go
  vm/contract/miner.go
  vm/contract/miner_test.go
  vm/contract/public_key_distribution.go
  vm/contract/public_key_distribution_test.go
  vm/contract/representative.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: pov sync can not finished but sync queue is fulled #856
  consensus/pov/pov_sync_pool.go
Owners: @wenyuangui

fix: update pov state in publish block
  vm/contract/contract.go
Owners: @gythialy

fix: publish state
  common/types/state_pov_gen.go
  vm/contract/public_key_distribution.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: publish info sort
  rpc/api/public_key_distribution.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: verifier heart block
  consensus/dpos/dpos_test.go
  rpc/api/public_key_distribution.go
Owners: @lc3091, @gythialy, @wenyuangui, @wenchaopeng, @zengchen221

refactor: simplified settlement RPC parameters
  rpc/api/settlement.go
  vm/contract/abi/abi_settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: verifier heart
  cmd/client/commands/dpki.go
  cmd/client/commands/dpki_verifier_heart.go
  consensus/dpos/dpos_test.go
  consensus/pov/pov_sync.go
  consensus/pov/pov_sync_pool.go
  rpc/api/public_key_distribution.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: go vet err
  mock/mock.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: dpki unit test (#919)
  cmd/client/commands/dpki.go
  cmd/client/commands/dpki_verifier_heart.go
  common/contract.go
  common/types/state_pov.go
  common/types/state_pov_gen.go
  common/types/state_pov_gen_test.go
  consensus/dpos/dpos_integration_test.go
  consensus/dpos/dpos_test.go
  consensus/pov/pov_sync.go
  consensus/pov/pov_sync_pool.go
  go.mod
  go.sum
  mock/block.go
  mock/bock_testnet.go
  mock/mock.go
  mock/mock_test.go
  rpc/api/api_test.go
  rpc/api/ledger.go
  rpc/api/public_key_distribution.go
  rpc/api/public_key_distribution_test.go
  vm/contract/abi/abi_public_key_distribution.go
  vm/contract/abi/abi_public_key_distribution_test.go
  vm/contract/contract.go
  vm/contract/contract_test.go
  vm/contract/miner.go
  vm/contract/miner_test.go
  vm/contract/public_key_distribution.go
  vm/contract/public_key_distribution_test.go
  vm/contract/representative.go
  vm/contract/representative_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

refactor: type of genesis account stored in configuration file
  chain/ledger_service.go
  chain/ledger_service_test.go
  cmd/server/commands/root.go
  config/config_v6.go
  consensus/dpos/dpos_test.go
  consensus/dpos/eletion_test.go
  ledger/ledger_test.go
  ledger/process/ledger_processor_test.go
  mock/mock.go
  rpc/api/api_test.go
  rpc/api/ledger_test.go
  vm/contract/blackhole_test.go
  vm/contract/contract_test.go
  vm/contract/settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: should make sure that common.GenesisInfos is empty
  cmd/server/commands/root.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: format code
  cmd/server/commands/root.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

refactor: type of genesis account stored in configuration file
  cmd/server/commands/root.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

refactor: type of genesis account stored in configuration file (#929)
  chain/ledger_service.go
  chain/ledger_service_test.go
  cmd/server/commands/root.go
  config/config_v6.go
  consensus/dpos/dpos_test.go
  consensus/dpos/eletion_test.go
  ledger/ledger_test.go
  ledger/process/ledger_processor_test.go
  mock/mock.go
  rpc/api/api_test.go
  rpc/api/ledger_test.go
  vm/contract/blackhole_test.go
  vm/contract/contract_test.go
  vm/contract/settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: generate summary report
  vm/contract/abi/abi_settlement.go
Owners: @gythialy

feat: support multi-party settlement invoice
  rpc/api/settlement.go
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_gen.go
  vm/contract/abi/abi_settlement_gen_test.go
  vm/contract/abi/abi_settlement_test.go
  vm/contract/settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: verify unique stop names
  mock/block.go
  mock/bock_testnet.go
  rpc/api/settlement.go
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_test.go
  vm/contract/contract.go
  vm/contract/settlement.go
  vm/contract/settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

refactor: disable settlement contract status check when query data
  rpc/api/settlement.go
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_test.go
  vm/contract/settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

refactor: calculate matching SMS rate
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_gen.go
  vm/contract/abi/abi_settlement_test.go
Owners: @gythialy

feat: testcase error
  common/storage/db/badger.go
  ledger/cache_test.go
  ledger/ledger.go
  ledger/ledger_pov.go
  ledger/ledger_represention_test.go
  ledger/ledger_test.go
  ledger/process/rollback_test.go
  rpc/api/ledger_test.go
  test/generate_chain.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: vm store
  ledger/cache.go
  ledger/cache_test.go
  ledger/ledger.go
  ledger/ledger_pov.go
  ledger/process/ledger_processor.go
  ledger/process/rollback.go
  ledger/process/rollback_test.go
  ledger/relation/relation_manage.go
  rpc/api/ledger_test.go
  trie/trie.go
  vm/contract/nep5_pledge.go
  vm/vmstore/vm_store.go
Owners: @zengchen221, @gythialy, @wenyuangui, @wenchaopeng, @lc3091

fix: test case error
  cmd/rpc/main.go
  ledger/ledger.go
  ledger/ledger_pending_test.go
  ledger/ledger_pov.go
  ledger/relation/relation_impl.go
  ledger/relation/relation_manage.go
  rpc/rpc_test.go
  test/fork_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: testcase error
  chain/sqlite_service.go
  chain/sqlite_service_test.go
  common/statedb/pov_statedb_test.go
  common/storage/db/badger.go
  ledger/ledger_pov.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: test case error
  rpc/api/ledger_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091
