Repository qlcchain/go-qlc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: support get all CDR records by multi-party contract address
  rpc/api/settlement.go
  rpc/api/settlement_test.go
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: enlarge temp cache
  ledger/cache.go
Owners: @zengchen221

chore: update review dog action
  .github/workflows/reviewdog.yml
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: move node update event to pov
  common/contract.go
  common/topic/messages.go
  common/vmcontract/contract.go
  consensus/dpos/dpos_impl.go
  ledger/cache.go
  vm/contract/contract.go
  vm/contract/permission.go
  vm/contract/permission_test.go
  vm/contract/settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add whitelist mode for p2p
  config/config_v2.go
  config/config_v2_default.go
  config/config_v2_testnet.go
  p2p/node.go
  p2p/protector.go
  p2p/protector_test.go
  p2p/qlcService.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: remove set contract storage from api
  rpc/api/miner.go
  rpc/api/miner_test.go
  rpc/api/public_key_distribution.go
  rpc/api/public_key_distribution_test.go
  rpc/api/representative.go
  rpc/api/representative_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add common contract generate block apis
  rpc/api/contract.go
  rpc/api/contract_test.go
  rpc/api/privacy.go
  rpc/apis.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add privacy demo kv contract
  common/types/address.go
  common/types/block_state.go
  common/types/block_state_gen.go
  common/types/block_state_test.go
  privacy/privacy.go
  rpc/api/contract.go
  rpc/api/privacy.go
  vm/contract/abi/abi_privacy_demokv.go
  vm/contract/contract.go
  vm/contract/privacy_demokv.go
  vm/contract/privacy_demokv_testnet.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

chore: golangcli-lint support cgo
  .github/workflows/reviewdog.yml
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

chore: temp remove vm cli to fix golangci-lint
  .github/workflows/reviewdog.yml
  cmd/vm/main.go
  cmd/vm/resolver/resolver.go
  cmd/vm/resolver/resolver_qlc.go
  cmd/vm/resolver/resolver_runtime.go
  go.mod
  go.sum
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add privacy client cmds
  cmd/client/commands/privacy.go
  cmd/client/commands/privacy_demokv.go
  cmd/client/commands/privacy_payload.go
  cmd/client/commands/root.go
  privacy/ptm.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

chore: gofmt code
  chain/privacy_service.go
  p2p/protector_test.go
  privacy/privacy.go
  privacy/ptm.go
  rpc/api/contract_test.go
  vm/contract/privacy_demokv.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: using independent key to store private payload
  common/storage/storage.go
  common/types/block_state.go
  common/types/block_state_gen.go
  consensus/dpos/dpos_impl.go
  ledger/ledger_block.go
  rpc/api/contract.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: dod contract
  vm/contract/abi/abi_dod_billing.go
  vm/contract/abi/abi_dod_billing_types.go
  vm/contract/abi/abi_dod_billing_types_gen.go
  vm/contract/abi/abi_dod_billing_types_gen_test.go
  vm/contract/dod_billing.go
Owners: @gythialy

fix: add sync uncheck
  consensus/dpos/processor.go
Owners: @lc3091

test: add privacy unit testcase
  common/types/block_state_test.go
  common/util/util.go
  common/util/util_test.go
  consensus/dpos/dpos_impl.go
  privacy/client.go
  privacy/http.go
  privacy/privacy.go
  privacy/privacy_test.go
  privacy/unix.go
  privacy/unix_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: multi-party summary report matching
  vm/contract/abi/settlement/abi_settlement.go
  vm/contract/abi/settlement/cdr_status.go
  vm/contract/abi/settlement/cdr_status_test.go
  vm/contract/settlement.go
  vm/contract/settlement_test.go
Owners: @gythialy

fix: reduplicate tx
  ledger/relation/relation_impl.go
Owners: @zengchen221

test: add privacy rpc testcase
  rpc/api/contract_test.go
  rpc/api/contract_testnet_test.go
  rpc/api/ledger_test.go
  rpc/api/privacy_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: modify private block sync processing
  cmd/client/commands/privacy_demokv.go
  cmd/client/commands/privacy_payload.go
  common/types/block_state.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/processor.go
  ledger/ledger_block.go
  ledger/ledger_privacy.go
  ledger/ledger_sync.go
  ledger/ledger_uncheck.go
  ledger/ledgerstore.go
  rpc/api/privacy.go
  vm/contract/privacy_demokv_testnet.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: GetUncheckedSyncBlock using wrong hash
  ledger/ledger_sync.go
  mock/mocks/store.go
Owners: @zengchen221, @gythialy, @wenyuangui, @wenchaopeng, @lc3091

test: add chain and ledger unit testcase
  chain/privacy_service_test.go
  ledger/ledger_privacy_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: rpc should check privacy enabled in config
  rpc/api/contract.go
  rpc/api/contract_test.go
  rpc/api/privacy.go
  rpc/api/privacy_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: block check indicate specific error message
  consensus/dpos/dpos_test.go
  consensus/dpos/processor.go
  ledger/ledger_test.go
  ledger/process/cache_processor.go
  ledger/process/cache_processor_test.go
  ledger/process/ledger_check.go
  ledger/process/ledger_processor.go
  ledger/process/ledger_processor_test.go
  rpc/api/ledger.go
Owners: @lc3091, @zengchen221, @gythialy, @wenyuangui, @wenchaopeng

fix: pubsub message remove signature
  p2p/node.go
Owners: @wenchaopeng

refactor: p2p pubsub using the latest libp2p package
  p2p/node.go
  p2p/pubsub/publisher.go
  p2p/pubsub/subscriber.go
  p2p/pubsub/topic.go
  p2p/streamManager.go
Owners: @wenchaopeng

refactor: bootNode config
  chain/bootnode_http_service.go
  chain/bootnode_http_service_test.go
  config/config_v2.go
  config/config_v2_default.go
  config/config_v2_testnet.go
  config/defaults_net.go
  config/defaults_testnet.go
  config/migration_v5_v6.go
  p2p/discovery_test.go
  p2p/messageMonitor_test.go
  p2p/node.go
  p2p/streamManager_test.go
  p2p/sync_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: optimize privacy ptm client
  cmd/client/commands/debug.go
  cmd/client/commands/debug_privacyinfo.go
  common/event/feed_event_bus.go
  consensus/dpos/dpos_impl.go
  consensus/pov/pov_impl.go
  ledger/process/ledger_processor.go
  ledger/process/ledger_processor_test.go
  miner/pov_worker.go
  privacy/privacy.go
  privacy/privacy_test.go
  privacy/ptm.go
  rpc/api/debug.go
  rpc/api/ledger.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add dod billing cotract
  common/vmcontract/chaincontract/contract.go
  common/vmcontract/contractaddress/address.go
  p2p/protector_test.go
  vm/contract/abi/abi_dod_billing.go
  vm/contract/abi/abi_dod_billing_types.go
  vm/contract/abi/abi_dod_billing_types_gen.go
  vm/contract/abi/abi_dod_billing_types_gen_test.go
  vm/contract/dod_billing.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: add privacy debug testcase
  privacy/privacy_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: add dod rpc
  common/vmcontract/chaincontract/contract.go
  rpc/api/dod_billing.go
  vm/contract/abi/abi_dod_billing.go
  vm/contract/abi/abi_dod_billing_types.go
  vm/contract/abi/abi_dod_billing_types_gen.go
  vm/contract/abi/abi_dod_billing_types_gen_test.go
  vm/contract/dod_billing.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

Resubmit the ptmkey contract
  cmd/client/commands/ptmkey.go
  cmd/client/commands/ptmkey_getpubkey.go
  cmd/client/commands/ptmkey_pkdelete.go
  cmd/client/commands/ptmkey_pkupdate.go
  cmd/client/commands/root.go
  common/contract.go
  common/vmcontract/chaincontract/contract.go
  common/vmcontract/contractaddress/address.go
  rpc/api/ptmkey.go
  rpc/api/ptmkey_test.go
  rpc/apis.go
  vm/contract/abi/abi_ptmkey.go
  vm/contract/abi/abi_ptmkey_test.go
  vm/contract/ptmkey.go
  vm/contract/ptmkey_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: support configure the default permission whitelist
  chain/context/chain_context.go
  config/config.go
  config/config_v2.go
  config/config_v2_default.go
  config/config_v2_testnet.go
  config/config_v7.go
  config/defaults_net.go
  config/defaults_testnet.go
  config/migration_v5_v6.go
  config/migration_v6_v7.go
  config/migration_v6_v7_test.go
  config/migration_v6_v7_testnet_test.go
  p2p/node.go
  p2p/protector_test.go
  p2p/qlcService.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: get whitelist when p2p starts
  p2p/node.go
  p2p/qlcService.go
Owners: @wenchaopeng

feat: ordinary node automatically fill bootnode into the white list
  p2p/node.go
  p2p/qlcService.go
Owners: @wenchaopeng

feat: add an rpc interface to query the peerid of node
  rpc/api/net.go
  rpc/api/net_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add permission service
  chain/context/chain_context.go
  chain/helper.go
  chain/permission_service.go
  chain/permission_service_test.go
  config/config_v7.go
  ledger/process/ledger_processor.go
  ledger/process/ledger_processor_test.go
  rpc/api/ledger.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: ci
  chain/permission_service.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: add testcase
  config/config_test.go
  config/genesis_test.go
  config/genesis_testnet_test.go
  config/migration_v6_v7_test.go
  config/migration_v6_v7_testnet_test.go
  p2p/protector_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add permission service to add preconfigured nodes automatically (#1091)
  chain/context/chain_context.go
  chain/helper.go
  chain/permission_service.go
  chain/permission_service_test.go
  config/config.go
  config/config_test.go
  config/config_v2.go
  config/config_v2_default.go
  config/config_v2_testnet.go
  config/config_v7.go
  config/defaults_net.go
  config/defaults_testnet.go
  config/genesis_test.go
  config/genesis_testnet_test.go
  config/migration_v5_v6.go
  config/migration_v6_v7.go
  config/migration_v6_v7_test.go
  config/migration_v6_v7_testnet_test.go
  ledger/process/ledger_processor.go
  ledger/process/ledger_processor_test.go
  p2p/node.go
  p2p/protector_test.go
  p2p/qlcService.go
  rpc/api/ledger.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

.github/CODEOWNERS:

*  @gythialy @wenyuangui @wenchaopeng @zengchen221 @lc3091

/ledger/         @zengchen221
/p2p/            @wenchaopeng
/consensus/pov   @wenyuangui
/consensus/dpos  @lc3091
/vm/             @gythialy
