Repository qlcchain/go-qlc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

.github/CODEOWNERS:

*  @gythialy @wenyuangui @wenchaopeng @zengchen221 @lc3091

/ledger/         @zengchen221
/p2p/            @wenchaopeng
/consensus/pov   @wenyuangui
/consensus/dpos  @lc3091
/vm/             @gythialy

fix: remove p2p NoSecurity config
  p2p/node.go
Owners: @wenchaopeng

fix: add test case
  chain/resendblock_service.go
  vm/contract/abi/abi_common_test.go
  vm/contract/abi/abi_public_key_distribution_test.go
  vm/contract/public_key_distribution_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: `GetProcessCDRBlock` check settlement contract error message
  rpc/api/settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: fix sv.RpcCall
  rpc/api/debug.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: add more p2p testcase
  p2p/discovery_test.go
  p2p/messageMonitor_test.go
  p2p/protos/bulkpull_test.go
  p2p/protos/povbulkpull_test.go
  p2p/protos/povpublish_test.go
  p2p/protos/povstatus_test.go
  p2p/pubsub/testing.go
  p2p/streamManager_test.go
  p2p/types_test.go
Owners: @wenchaopeng

feature: ledger dump/testcase
  cmd/client/commands/ledger_dump.go
  cmd/client/commands/ledger_gc.go
  common/storage/db/badger.go
  common/storage/db/badger_test.go
  common/storage/storage.go
  common/types/generic.go
  ledger/ledger.go
  ledger/ledger_dump.go
  ledger/ledger_dump_test.go
  ledger/ledger_generic.go
  ledger/ledger_generic_test.go
  ledger/ledger_peersinfo_test.go
  ledger/ledger_pending_test.go
  ledger/ledger_smartblock_test.go
  ledger/ledger_sync_test.go
  ledger/migration/interface.go
  ledger/migration/ledger.go
  ledger/migration/migration.go
  ledger/migration/migration_test.go
  ledger/process/cache_processor.go
  ledger/process/cache_processor_test.go
  ledger/process/ledger_check.go
  ledger/process/ledger_processor.go
  ledger/process/ledger_processor_test.go
  ledger/process/rollback_test.go
  ledger/process/sync_processor.go
  ledger/relation/relation_manage.go
  rpc/api/chain.go
  rpc/api/debug.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: ci error
  common/storage/db/badger.go
  common/storage/db/badger_test.go
  common/storage/relationdb/mysql.go
  common/storage/relationdb/relation.go
  common/storage/relationdb/sqlite.go
  common/storage/relationdb/sqlite_test.go
  ledger/cache_test.go
  ledger/ledger_account.go
  ledger/ledger_block.go
  ledger/ledger_block_test.go
  ledger/ledger_dump.go
  ledger/ledger_generic.go
  ledger/ledger_generic_test.go
  ledger/ledger_represention.go
  ledger/ledger_smartblock_test.go
  ledger/migration/migration.go
  ledger/migration/migration_test.go
  ledger/process/cache_processor.go
  ledger/process/ledger_processor.go
  ledger/process/rollback.go
  ledger/process/rollback_test.go
  ledger/relation/relation_impl.go
  ledger/relation/relation_manage.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: testcase error
  ledger/process/ledger_processor_test.go
Owners: @zengchen221

fix: testcase error
  ledger/migration/migration.go
  ledger/process/cache_processor_test.go
Owners: @zengchen221

feat: add testcase
  ledger/ledger_test.go
  ledger/process/sync_processor.go
  ledger/process/sync_processor_test.go
  ledger/relation/relation_impl.go
  ledger/relation/relation_impl_test.go
  ledger/relation/relation_manage_test.go
Owners: @zengchen221

feat: add testcase
  ledger/ledger_dump_test.go
Owners: @zengchen221

fix: testcase error
  ledger/ledger_test.go
Owners: @zengchen221

fix: ledger iterator
  ledger/ledger_test.go
Owners: @zengchen221

test: update trie test cases
  trie/node_pool.go
  trie/node_pool_test.go
  trie/node_test.go
  trie/trie_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: add test cases for mintage contract
  consensus/dpos/dpos_impl.go
  mock/mock_test.go
  vm/contract/abi/abi_common_test.go
  vm/contract/abi/abi_mintage_test.go
  vm/contract/abi/abi_nep5_pledge.go
  vm/contract/abi/abi_public_key_distribution_test.go
  vm/contract/abi/pledgetype_string.go
  vm/contract/abi/pledgetype_string_test.go
  vm/contract/mintage.go
  vm/contract/mintage_test.go
  vm/contract/mock_block_mainnet_test.go
  vm/contract/mock_block_testnet_test.go
  vm/contract/mock_ledger_test.go
Owners: @lc3091, @gythialy, @wenyuangui, @wenchaopeng, @zengchen221

test: update black hole test cases
  common/types/account.go
  vm/contract/abi/abi_blackhole.go
  vm/contract/abi/abi_blackhole_test.go
  vm/contract/abi/abi_public_key_distribution_test.go
  vm/contract/abi/abi_rewards_test.go
  vm/contract/abi/abi_settlement_test.go
  vm/contract/abi/abi_test.go
  vm/contract/abi/mock_ledger_test.go
  vm/contract/blackhole.go
  vm/contract/blackhole_test.go
  vm/contract/mock_ledger_test.go
  vm/contract/settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add more query settlement contract interfaces
  chain/context/chain_context.go
  cmd/client/commands/ledger_dump.go
  cmd/client/commands/ledger_gc.go
  common/types/generic.go
  ledger/ledger_test.go
  ledger/relation/relation_impl_test.go
  ledger/relation/relation_manage_test.go
  rpc/api/debug.go
  rpc/api/settlement.go
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_test.go
  vm/contract/settlement.go
  vm/contract/settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: stop dpos may block
  consensus/dpos/dpos_impl.go
Owners: @lc3091

fix: add test cases
  rpc/api/public_key_distribution_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add testcase
  ledger/ledger_test.go
Owners: @zengchen221

fix: ci error
  ledger/ledger_test.go
Owners: @zengchen221

feat: add genesis info rpc interface
  rpc/api/ledger.go
  rpc/api/ledger_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: stop dpos may be blocked (#953)
  consensus/dpos/dpos_impl.go
  ledger/ledger_test.go
  rpc/api/public_key_distribution_test.go
Owners: @lc3091, @zengchen221, @gythialy, @wenyuangui, @wenchaopeng

test: add dpki reward testcase
  mock/mock_pov.go
  vm/contract/public_key_distribution_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add query settlement stop names interface
  common/servicestatus_string.go
  rpc/api/mock_block_mainnet_test.go
  rpc/api/mock_block_testnet_test.go
  rpc/api/public_key_distribution_test.go
  rpc/api/settlement.go
  rpc/api/settlement_test.go
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_gen.go
  vm/contract/abi/abi_settlement_gen_test.go
  vm/contract/abi/abi_settlement_test.go
  vm/contract/settlement.go
  vm/contract/settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: add protobuf testcase in p2p
  p2p/protos/pb/message.pb.go
  p2p/protos/pb/message.proto
  p2p/protos/pb/messagepb_test.go
Owners: @wenchaopeng

feat: add dpki verifier pubkey/add dpki rpc unit test
  rpc/api/ledger.go
  rpc/api/public_key_distribution.go
  rpc/api/public_key_distribution_test.go
  vm/contract/abi/abi_public_key_distribution.go
  vm/contract/abi/abi_public_key_distribution_test.go
  vm/contract/public_key_distribution.go
  vm/contract/public_key_distribution_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: processLock causes high CPU usage
  rpc/api/ledger.go
  rpc/api/ledger_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add miner/rep reward unit test cases
  rpc/api/api_test.go
  rpc/api/miner_test.go
  rpc/api/public_key_distribution_test.go
  rpc/api/representative.go
  rpc/api/representative_test.go
  vm/contract/abi/abi_public_key_distribution.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: mock ledger data
  ledger/ledger_account.go
  ledger/ledger_dpos.go
  ledger/ledger_peersInfo.go
  ledger/ledger_pending.go
  ledger/ledger_smartblock.go
  ledger/ledger_sync.go
  ledger/ledgerstore.go
  ledger/mocks/Store.go
  ledger/process/cache_processor.go
  ledger/process/ledger_processor.go
  mock/mocks/store.go
  rpc/api/sms.go
Owners: @zengchen221, @gythialy, @wenyuangui, @wenchaopeng, @lc3091

feat: add rpc testcase
  rpc/api/ledger_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: mock ledger data
  go.mod
  go.sum
  mock/mocks/store.go
  rpc/api/black_hole.go
  rpc/api/chain.go
  rpc/api/contract.go
  rpc/api/ledger.go
  rpc/api/ledger_test.go
  rpc/api/miner.go
  rpc/api/mintage.go
  rpc/api/nep5_pledge.go
  rpc/api/net.go
  rpc/api/pov.go
  rpc/api/public_key_distribution.go
  rpc/api/representative.go
  rpc/api/rewards.go
  rpc/api/settlement.go
  rpc/api/settlement_test.go
  rpc/api/util.go
  rpc/api/wallet.go
  rpc/apis.go
  rpc/rpc.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: format code
  ledger/mocks/Store.go
  rpc/api/chain.go
  rpc/api/debug.go
  rpc/api/debug_test.go
  rpc/api/ledger.go
  rpc/api/ledger_test.go
  rpc/api/mintage.go
  rpc/api/nep5_pledge.go
  rpc/api/net.go
  rpc/api/pov.go
  rpc/api/public_key_distribution.go
  rpc/api/public_key_distribution_test.go
  rpc/api/representative.go
  rpc/api/rewards.go
  rpc/api/settlement.go
  rpc/api/settlement_test.go
  rpc/api/util.go
  rpc/api/wallet.go
Owners: @zengchen221, @gythialy, @wenyuangui, @wenchaopeng, @lc3091

feat: implement ledger mock interface (#968)
  go.mod
  go.sum
  ledger/ledger_account.go
  ledger/ledger_dpos.go
  ledger/ledger_peersInfo.go
  ledger/ledger_pending.go
  ledger/ledger_smartblock.go
  ledger/ledger_sync.go
  ledger/ledgerstore.go
  ledger/process/cache_processor.go
  ledger/process/ledger_processor.go
  mock/mocks/store.go
  rpc/api/black_hole.go
  rpc/api/chain.go
  rpc/api/contract.go
  rpc/api/debug.go
  rpc/api/debug_test.go
  rpc/api/ledger.go
  rpc/api/ledger_test.go
  rpc/api/miner.go
  rpc/api/mintage.go
  rpc/api/nep5_pledge.go
  rpc/api/net.go
  rpc/api/pov.go
  rpc/api/public_key_distribution.go
  rpc/api/public_key_distribution_test.go
  rpc/api/representative.go
  rpc/api/rewards.go
  rpc/api/settlement.go
  rpc/api/settlement_test.go
  rpc/api/sms.go
  rpc/api/util.go
  rpc/api/wallet.go
  rpc/apis.go
  rpc/rpc.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: add staking/rewards abi test cases
  vm/contract/abi/abi_nep5_pledge.go
  vm/contract/abi/abi_nep5_pledge_test.go
  vm/contract/abi/abi_rewards_test.go
Owners: @gythialy

test: add test cases of staking contract
  rpc/api/nep5_pledge.go
  vm/contract/abi/abi_nep5_pledge.go
  vm/contract/abi/abi_nep5_pledge_test.go
  vm/contract/nep5_pledge.go
  vm/contract/nep5_pledge_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: add test cases for rewards contract
  rpc/api/ledger_test.go
  rpc/api/rewards.go
  vm/contract/abi/abi_rewards.go
  vm/contract/abi/abi_rewards_test.go
  vm/contract/contract.go
  vm/contract/nep5_pledge.go
  vm/contract/nep5_pledge_test.go
  vm/contract/rewards.go
  vm/contract/rewards_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add get settlement contract address by partyAddress and stopName interface
  rpc/api/settlement.go
  vm/contract/abi/abi_settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: fix serialize smart contract block test case
  common/types/block_contract_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: fix failed test cases on testnet
  .codecov.yml
  common/types/block_contract_test.go
  config/genesis_test.go
  config/migration_v5_v6_test.go
  rpc/api/ledger_mock_test.go
  rpc/api/ledger_test.go
  rpc/api/settlement_test.go
  vm/contract/abi/abi_blackhole_test.go
  vm/contract/abi/mock_block_mainnet_test.go
  vm/contract/abi/mock_block_testnet_test.go
  vm/contract/abi/mock_ledger_test.go
  vm/contract/mock_ledger_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091
