Repository qlcchain/go-qlc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

.github/CODEOWNERS:

*  @gythialy @wenyuangui @wenchaopeng @zengchen221 @lc3091

/ledger/         @zengchen221
/p2p/            @wenchaopeng
/consensus/pov   @wenyuangui
/consensus/dpos  @lc3091
/vm/             @gythialy

fix: add contract lock
  vm/contract/abi/abi_dod_settlement.go
  vm/contract/abi/abi_dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement_types.go
  vm/contract/dod_settlement.go
Owners: @gythialy

fix: return immediately after the whitelist conditions are met
  p2p/connectionGater.go
Owners: @wenchaopeng

fix: update dod settlement smart contract
  common/contract.go
  common/storage/storage.go
  common/types/unchecked.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/processor.go
  ledger/ledger_uncheck.go
  ledger/process/ledger_check.go
  ledger/process/verifier.go
  rpc/api/contract.go
  rpc/api/dod_settlement.go
  vm/contract/abi/abi_dod_settlement.go
  vm/contract/abi/abi_dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement_types.go
  vm/contract/abi/abi_dod_settlement_types_gen.go
  vm/contract/abi/abi_dod_settlement_types_gen_test.go
  vm/contract/dod_settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: ci
  chain/permission_service.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/processor.go
  consensus/pov/pov_state.go
  ledger/ledger_uncheck.go
  ledger/ledger_vm_store_test.go
  ledger/relation/db/sqlite.go
  mock/mocks/store.go
  rpc/api/ptmkey_test.go
  vm/contract/abi/abi_dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement_types.go
  vm/contract/abi/abi_ptmkey.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: fix ci
  mock/mocks/store.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: go test err
  common/types/unchecked.go
  ledger/ledger_uncheck.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: optimize dod settlement contract
  cmd/client/commands/dod_settlement_change_order.go
  cmd/client/commands/dod_settlement_create_order.go
  cmd/client/commands/dod_settlement_resource_ready.go
  cmd/client/commands/dod_settlement_update_order_info.go
  common/types/unchecked.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/processor.go
  ledger/ledger_uncheck.go
  ledger/process/verifier.go
  mock/mocks/store.go
  rpc/api/dod_settlement.go
  vm/contract/abi/abi_dod_settlement.go
  vm/contract/abi/abi_dod_settlement_types.go
  vm/contract/abi/abi_dod_settlement_types_gen.go
  vm/contract/abi/abi_dod_settlement_types_gen_test.go
  vm/contract/dod_settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: go test
  vm/contract/abi/abi_dod_settlement_test.go
Owners: @gythialy

fix: compile err
  consensus/dpos/dpos_impl.go
  go.mod
  go.sum
  mock/mocks/store.go
  vm/contract/abi/abi_dod_settlement_types.go
Owners: @lc3091, @gythialy, @wenyuangui, @wenchaopeng, @zengchen221

fix: add some checks
  cmd/client/commands/dod_settlement_change_order.go
  vm/contract/abi/abi_dod_settlement.go
  vm/contract/abi/abi_dod_settlement_types.go
  vm/contract/dod_settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: add parameters check
  vm/contract/abi/abi_dod_settlement_types.go
  vm/contract/dod_settlement.go
Owners: @gythialy

fix: add unit test cases
  rpc/api/dod_settlement.go
  vm/contract/abi/abi_dod_settlement.go
  vm/contract/abi/abi_dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement_types.go
  vm/contract/abi/abi_dod_settlement_types_enum_test.go
  vm/contract/abi/abi_dod_settlement_types_gen.go
  vm/contract/abi/abi_dod_settlement_types_gen_test.go
  vm/contract/abi/abi_dod_settlement_types_test.go
  vm/contract/dod_settlement.go
  vm/contract/dod_settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: add unit test and change invoice rule
  cmd/client/commands/dod_settlement_change_order.go
  cmd/client/commands/dod_settlement_create_order.go
  cmd/client/commands/dod_settlement_terminate_order.go
  cmd/client/commands/dod_settlement_update_order_info.go
  ledger/ledger_uncheck_test.go
  rpc/api/dod_settlement.go
  rpc/api/dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement.go
  vm/contract/abi/abi_dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement_types.go
  vm/contract/abi/abi_dod_settlement_types_enum_test.go
  vm/contract/abi/abi_dod_settlement_types_gen.go
  vm/contract/abi/abi_dod_settlement_types_gen_test.go
  vm/contract/abi/abi_dod_settlement_types_test.go
  vm/contract/dod_settlement.go
  vm/contract/dod_settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: dod settlement smart contract
  cmd/client/commands/dod_settlement_terminate_order.go
  rpc/api/dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement_types_test.go
  vm/contract/dod_settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: code format
  vm/contract/dod_settlement_test.go
Owners: @gythialy

fix: remove zero amount invoice list
  vm/contract/abi/abi_dod_settlement.go
Owners: @gythialy

feat: dod settlement smart contract (#1119)
  cmd/client/commands/dod_settlement.go
  cmd/client/commands/dod_settlement_change_order.go
  cmd/client/commands/dod_settlement_change_response.go
  cmd/client/commands/dod_settlement_create_order.go
  cmd/client/commands/dod_settlement_create_response.go
  cmd/client/commands/dod_settlement_resource_ready.go
  cmd/client/commands/dod_settlement_terminate_order.go
  cmd/client/commands/dod_settlement_terminate_response.go
  cmd/client/commands/dod_settlement_update_order_info.go
  cmd/client/commands/dod_settlement_update_response.go
  cmd/client/commands/root.go
  common/contract.go
  common/storage/storage.go
  common/types/unchecked.go
  common/vmcontract/contractaddress/address.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/processor.go
  go.mod
  go.sum
  ledger/ledger_uncheck.go
  ledger/ledger_uncheck_test.go
  ledger/process/ledger_check.go
  ledger/process/verifier.go
  mock/mocks/store.go
  rpc/api/contract.go
  rpc/api/dod_settlement.go
  rpc/api/dod_settlement_test.go
  rpc/apis.go
  vm/contract/abi/abi_dod_settlement.go
  vm/contract/abi/abi_dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement_types.go
  vm/contract/abi/abi_dod_settlement_types_enum.go
  vm/contract/abi/abi_dod_settlement_types_enum_test.go
  vm/contract/abi/abi_dod_settlement_types_gen.go
  vm/contract/abi/abi_dod_settlement_types_gen_test.go
  vm/contract/abi/abi_dod_settlement_types_test.go
  vm/contract/contract.go
  vm/contract/dod_settlement.go
  vm/contract/dod_settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add dod order rpc interfaces
  rpc/api/dod_settlement.go
  rpc/api/dod_settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add dod order rpc interfaces (#1120)
  rpc/api/dod_settlement.go
  rpc/api/dod_settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

chore: update stale workflow
  .github/workflows/stale.yml
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: dod settlement rpc update (add order count in resp)
  rpc/api/dod_settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: unit test err
  rpc/api/dod_settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: update dod settlement rpc
  rpc/api/dod_settlement.go
  rpc/api/dod_settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

chore: update stale lables
  .github/workflows/stale.yml
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: fill product parameters in change/terminare order
  rpc/api/dod_settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: fill all params in change/terminate block
  rpc/api/dod_settlement.go
  vm/contract/abi/abi_dod_settlement.go
  vm/contract/abi/abi_dod_settlement_test.go
  vm/contract/dod_settlement.go
  vm/contract/dod_settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: optimize dod settlement smart contract storage
  cmd/client/commands/dod_settlement_change_order.go
  rpc/api/dod_settlement.go
  vm/contract/abi/abi_dod_settlement.go
  vm/contract/abi/abi_dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement_types.go
  vm/contract/abi/abi_dod_settlement_types_gen.go
  vm/contract/abi/abi_dod_settlement_types_gen_test.go
  vm/contract/abi/abi_dod_settlement_types_test.go
  vm/contract/dod_settlement.go
  vm/contract/dod_settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: change getPlacingOrder interface
  rpc/api/dod_settlement.go
  rpc/api/dod_settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: add productOfferingId for each product
  cmd/client/commands/dod_settlement_create_order.go
  rpc/api/dod_settlement.go
  rpc/api/dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement.go
  vm/contract/abi/abi_dod_settlement_types.go
  vm/contract/abi/abi_dod_settlement_types_gen.go
  vm/contract/abi/abi_dod_settlement_types_test.go
  vm/contract/dod_settlement.go
  vm/contract/dod_settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: dod settlement rpc patch (#1124)
  cmd/client/commands/dod_settlement_change_order.go
  cmd/client/commands/dod_settlement_create_order.go
  rpc/api/dod_settlement.go
  rpc/api/dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement.go
  vm/contract/abi/abi_dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement_types.go
  vm/contract/abi/abi_dod_settlement_types_gen.go
  vm/contract/abi/abi_dod_settlement_types_gen_test.go
  vm/contract/abi/abi_dod_settlement_types_test.go
  vm/contract/dod_settlement.go
  vm/contract/dod_settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: add more param check
  rpc/api/dod_settlement.go
  rpc/api/dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement_types.go
  vm/contract/abi/abi_dod_settlement_types_test.go
  vm/contract/dod_settlement.go
  vm/contract/dod_settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: getPendingResource err
  rpc/api/dod_settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: add unit test
  rpc/api/dod_settlement.go
  rpc/api/dod_settlement_test.go
  vm/contract/dod_settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: add unit test
  rpc/api/dod_settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: add internalId and invoiceId to invoice
  vm/contract/abi/abi_dod_settlement.go
  vm/contract/abi/abi_dod_settlement_types.go
Owners: @gythialy

fix: add internal id in invoice
  rpc/api/dod_settlement.go
  rpc/api/dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement.go
  vm/contract/abi/abi_dod_settlement_types.go
  vm/contract/abi/abi_dod_settlement_types_gen.go
  vm/contract/dod_settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: unit test err
  vm/contract/abi/abi_dod_settlement_test.go
Owners: @gythialy

fix: add more dod settlement validation check (#1125)
  rpc/api/dod_settlement.go
  rpc/api/dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement.go
  vm/contract/abi/abi_dod_settlement_test.go
  vm/contract/abi/abi_dod_settlement_types.go
  vm/contract/abi/abi_dod_settlement_types_gen.go
  vm/contract/abi/abi_dod_settlement_types_test.go
  vm/contract/dod_settlement.go
  vm/contract/dod_settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: new vmcontext can not get pov header by block height
  vm/vmstore/vm_store.go
Owners: @gythialy

fix: new vmcontext can not get pov header by block height (#1130)
  vm/vmstore/vm_store.go
Owners: @gythialy
