Repository qlcchain/go-qlc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: pkd api update
  cmd/client/commands/pkd_verifier_register.go
  cmd/client/commands/pkd_verifier_unregister.go
  common/types/block_state.go
  common/types/block_state_test.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/processor.go
  ledger/process/ledger_processor.go
  rpc/api/public_key_distribution.go
  vm/contract/public_key_distribution.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: should not exit the process when mdns start failed
  go.mod
  go.sum
  p2p/node.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: update dpki api name
  cmd/client/commands/dpki.go
  cmd/client/commands/dpki_oracle.go
  cmd/client/commands/dpki_publish.go
  cmd/client/commands/dpki_unpublish.go
  cmd/client/commands/dpki_verifier_register.go
  cmd/client/commands/dpki_verifier_unregister.go
  cmd/client/commands/pkd.go
  go.mod
  go.sum
  rpc/apis.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: dpki optimization
  common/types/contract.go
  rpc/api/public_key_distribution.go
  rpc/apis.go
  vm/contract/abi/abi_public_key_distribution.go
  vm/contract/public_key_distribution.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: update oracle state on pov chain
  common/statedb/pov_statedb.go
  common/types/bignum.go
  common/types/contract.go
  common/types/state_pov.go
  common/types/state_pov_gen.go
  common/types/state_pov_gen_test.go
  consensus/dpos/dpos_impl.go
  consensus/pov/pov_state.go
  ledger/ledgerstore.go
  ledger/process/ledger_check.go
  ledger/process/ledger_processor.go
  ledger/process/rollback.go
  ledger/process/sync_processor.go
  rpc/api/representative.go
  vm/contract/abi/abi_public_key_distribution.go
  vm/contract/blackhole.go
  vm/contract/contract.go
  vm/contract/miner.go
  vm/contract/mintage.go
  vm/contract/nep5_pledge.go
  vm/contract/public_key_distribution.go
  vm/contract/representative.go
  vm/contract/rewards.go
  vm/vmstore/vm_store.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: DPKI contract refactor
  cmd/client/commands/dpki_unpublish.go
  common/contract.go
  common/types/block_state.go
  common/types/unchecked.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/processor.go
  consensus/utils.go
  ledger/ledger_uncheck.go
  ledger/ledger_uncheck_test.go
  ledger/process/ledger_check.go
  p2p/sync.go
  rpc/api/debug.go
  rpc/api/public_key_distribution.go
  vm/contract/abi/abi_public_key_distribution.go
  vm/contract/abi/abi_public_key_distribution_test.go
  vm/contract/blackhole.go
  vm/contract/contract.go
  vm/contract/miner.go
  vm/contract/public_key_distribution.go
  vm/contract/representative.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: update contract data in sync
  consensus/pov/pov_state.go
  ledger/process/ledger_processor.go
  vm/contract/contract.go
Owners: @wenyuangui, @zengchen221, @gythialy

fix: sync optimize
  consensus/dpos/processor.go
Owners: @lc3091

fix: no need process genesis block in pov
  consensus/pov/pov_state.go
Owners: @wenyuangui

fix: sync optimize
  consensus/dpos/dpos_impl.go
  consensus/dpos/processor.go
  go.mod
  go.sum
Owners: @lc3091, @gythialy, @wenyuangui, @wenchaopeng, @zengchen221

feat: add independent statedb for each contract address
  cmd/client/commands/dpki_oracle.go
  cmd/client/commands/dpki_publish.go
  cmd/client/commands/dpki_unpublish.go
  cmd/client/commands/dpki_verifier_register.go
  cmd/client/commands/dpki_verifier_unregister.go
  common/statedb/pov_statedb.go
  common/types/block_state.go
  common/types/state_pov.go
  common/types/state_pov_gen.go
  common/types/state_pov_gen_test.go
  consensus/dpos/debug.go
  consensus/dpos/processor.go
  consensus/pov/pov_state.go
  ledger/process/ledger_check.go
  ledger/process/ledger_processor.go
  ledger/process/sync_processor.go
  p2p/sync.go
  rpc/api/debug.go
  rpc/api/public_key_distribution.go
  vm/contract/abi/abi_public_key_distribution.go
  vm/contract/abi/abi_public_key_distribution_test.go
  vm/contract/abi/abi_test.go
  vm/contract/blackhole.go
  vm/contract/contract.go
  vm/contract/public_key_distribution.go
  vm/vmstore/vm_store.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: update pov global and contract state db
  common/statedb/pov_statedb.go
  consensus/pov/consensus_pov.go
  consensus/pov/pov_chain.go
  consensus/pov/pov_chain_test.go
  consensus/pov/pov_pow.go
  consensus/pov/pov_processor.go
  consensus/pov/pov_processor_test.go
  consensus/pov/pov_state.go
  consensus/pov/pov_txpool.go
  consensus/pov/pov_txpool_test.go
  consensus/pov/pov_verifier.go
  consensus/pov/pov_verifier_test.go
  miner/pov_worker.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: need commit contract state to db
  common/statedb/pov_statedb.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: update publish & verify state in pov
  common/statedb/pov_statedb.go
  common/types/state_pov.go
  common/types/state_pov_gen.go
  consensus/pov/pov_chain.go
  consensus/pov/pov_state.go
  miner/pov_worker.go
  rpc/api/pov.go
  rpc/api/public_key_distribution.go
  vm/contract/dpki/dpki_pov.go
  vm/contract/public_key_distribution.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add dpki reward
  rpc/api/public_key_distribution.go
  vm/contract/abi/abi_common.go
  vm/contract/abi/abi_public_key_distribution.go
  vm/contract/contract.go
  vm/contract/dpki/dpki_types.go
  vm/contract/public_key_distribution.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: update hashmap iter to reduce lots of goroutines
  common/event/event_bus_impl.go
  go.mod
  go.sum
  ledger/ledger_cache.go
  rpc/api/ledger.go
  trie/node_pool.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: add local hashmap to common
  chain/context/chain_context.go
  cmd/client/commands/pov_daystats.go
  cmd/client/commands/pov_repstate.go
  cmd/client/commands/tx_rollback.go
  common/event/event_bus_impl.go
  common/hashmap/LICENSE
  common/hashmap/README.md
  common/hashmap/benchmark_test.go
  common/hashmap/hashmap.go
  common/hashmap/hashmap_get.go
  common/hashmap/hashmap_test.go
  common/hashmap/list.go
  common/hashmap/list_test.go
  common/hashmap/listelement.go
  common/hashmap/util.go
  common/hashmap/util_test.go
  consensus/dpos/processor_test.go
  go.mod
  go.sum
  ledger/ledger_cache.go
  p2p/pinger/ping.go
  p2p/streamManager.go
  rpc/api/ledger.go
  test/fork_test.go
  test/generate_chain.go
  trie/node_pool.go
  vm/vmstore/vm_store.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

chore: merge branch v1.3.4 to master (#893)
  chain/context/chain_context.go
  common/event/actor_event_bus.go
  common/event/event_manager.go
  common/hashmap/LICENSE
  common/hashmap/README.md
  common/hashmap/benchmark_test.go
  common/hashmap/hashmap.go
  common/hashmap/hashmap_get.go
  common/hashmap/hashmap_test.go
  common/hashmap/list.go
  common/hashmap/list_test.go
  common/hashmap/listelement.go
  common/hashmap/util.go
  common/hashmap/util_test.go
  go.mod
  go.sum
  ledger/ledger_cache.go
  rpc/api/ledger.go
  test/fork_test.go
  test/generate_chain.go
  trie/node_pool.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: optimize contract
  common/types/address.go
  consensus/dpos/dpos_impl.go
  go.mod
  go.sum
  ledger/process/ledger_check.go
  vm/contract/contract.go
  vm/contract/miner.go
  vm/contract/mintage.go
  vm/contract/nep5_pledge.go
  vm/contract/public_key_distribution.go
  vm/contract/representative.go
  vm/contract/rewards.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: dpki reward rpcs and cmds
  cmd/client/commands/dpki.go
  cmd/client/commands/dpki_getpublishinfo.go
  cmd/client/commands/dpki_getrewardinfo.go
  cmd/client/commands/dpki_getverifierstate.go
  cmd/client/commands/dpki_reward.go
  cmd/client/commands/pov_repstate.go
  common/statedb/pov_statedb.go
  common/types/prefix.go
  common/types/state_pov.go
  consensus/dpos/dpos_impl.go
  consensus/pov/pov_state.go
  ledger/ledger.go
  rpc/api/pov.go
  rpc/api/public_key_distribution.go
  test/fork_test.go
  vm/contract/dpki/dpki_pov.go
  vm/contract/dpki/dpki_types.go
  vm/contract/public_key_distribution.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add consensus unit test
  consensus/dpos/block.go
  consensus/dpos/bock_testnet.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/dpos_test.go
  consensus/dpos/fork_test.go
  consensus/dpos/online.go
  consensus/dpos/processor.go
  consensus/dpos/processor_test.go
  consensus/dpos/transaction_test.go
  p2p/qlcService.go
  p2p/sync.go
  test/consensus_test.go
  test/fork_test.go
  test/openfork_test.go
Owners: @lc3091, @wenchaopeng, @gythialy, @wenyuangui, @zengchen221

feat: add algo hybrid
  common/params_pov.go
  common/params_pov_testnet.go
  common/types/block_pov.go
  common/types/block_pov_btc.go
  common/types/hash.go
  common/types/pov_algo.go
  consensus/pov/pov_chain.go
  consensus/pov/pov_verifier.go
  miner/pov_worker.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: add consensus unit test cases
  consensus/dpos/active_transactions.go
  consensus/dpos/cache_test.go
  consensus/dpos/debug.go
  consensus/dpos/debug_test.go
  consensus/dpos/dpos_impl.go
  consensus/dpos/dpos_impl_test.go
  consensus/dpos/dpos_integration_test.go
  consensus/dpos/dpos_test.go
  consensus/dpos/election.go
  consensus/dpos/fork_test.go
  consensus/dpos/online_test.go
  consensus/dpos/processor.go
  consensus/dpos/transaction_test.go
  consensus/dpos/votes.go
  consensus/dpos/votes_test.go
  rpc/api/debug.go
  vm/contract/contract.go
Owners: @lc3091, @gythialy, @wenyuangui, @wenchaopeng, @zengchen221

fix: consensus unit test cases
  consensus/dpos/dpos_integration_test.go
  p2p/discovery.go
Owners: @lc3091, @wenchaopeng

fix: update dpki reward send block
  cmd/client/commands/dpki_getrewardinfo.go
  rpc/api/public_key_distribution.go
  vm/contract/abi/abi_common.go
  vm/contract/abi/abi_public_key_distribution.go
  vm/contract/dpki/dpki_types.go
  vm/contract/public_key_distribution.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: update libp2p package
  go.mod
  go.sum
  p2p/node.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: check reward amount is zero
  rpc/api/public_key_distribution.go
  vm/contract/public_key_distribution.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: mod p2p ver to 9
  p2p/node.go
Owners: @wenchaopeng

feat: define settlement contract interface
  common/types/address.go
  rpc/api/settlement.go
  rpc/apis.go
  vm/contract/abi/abi_settlement.go
  vm/contract/contract.go
  vm/contract/settlement.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: implement create/sign settlement contract
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_gen.go
  vm/contract/abi/abi_settlement_gen_test.go
  vm/contract/abi/abi_settlement_test.go
  vm/contract/contract.go
  vm/contract/settlement.go
Owners: @gythialy

feat: implement mutex with status
  common/sync/mutex.go
  common/sync/mutex_test.go
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_gen.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: add settlement abi test cases
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_gen.go
  vm/contract/abi/abi_settlement_test.go
  vm/contract/settlement.go
Owners: @gythialy

feat: implement create/sign settlement contract RPC
  rpc/api/settlement.go
  rpc/apis.go
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: add settlement contract test cases
  rpc/api/settlement.go
  rpc/api/settlement_test.go
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_gen.go
  vm/contract/abi/abi_settlement_gen_test.go
  vm/contract/abi/abi_settlement_test.go
  vm/contract/settlement.go
  vm/contract/settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: implement processCDR
  common/types/address.go
  rpc/api/settlement.go
  rpc/apis.go
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_enum.go
  vm/contract/abi/abi_settlement_gen.go
  vm/contract/abi/abi_settlement_gen_test.go
  vm/contract/abi/abi_settlement_test.go
  vm/contract/contract.go
  vm/contract/settlement.go
  vm/contract/settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: add pov ledger unit test case
  ledger/ledger_pov_test.go
Owners: @zengchen221

refactor: create/sign settlement contract params
  rpc/api/settlement.go
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_enum.go
  vm/contract/abi/abi_settlement_gen.go
  vm/contract/abi/abi_settlement_gen_test.go
  vm/contract/abi/abi_settlement_test.go
  vm/contract/contract_test.go
  vm/contract/settlement.go
  vm/contract/settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

feat: implement add/remove/update previous and next stops
  rpc/api/settlement.go
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_enum.go
  vm/contract/abi/abi_settlement_enum_test.go
  vm/contract/abi/abi_settlement_gen.go
  vm/contract/abi/abi_settlement_gen_test.go
  vm/contract/abi/abi_settlement_test.go
  vm/contract/contract.go
  vm/contract/settlement.go
  vm/contract/settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

fix: settlement contract RPC
  common/types/benefit_gen.go
  common/types/block_pov_btc_gen.go
  common/types/unchecked_gen.go
  rpc/api/settlement.go
  rpc/apis.go
  vm/contract/abi/abi_settlement.go
  vm/contract/abi/abi_settlement_gen.go
  vm/contract/settlement.go
  vm/contract/settlement_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

test: add pov miner api test case
  rpc/api/pov_test.go
Owners: @gythialy, @wenyuangui, @wenchaopeng, @zengchen221, @lc3091

.github/CODEOWNERS:

*  @gythialy @wenyuangui @wenchaopeng @zengchen221 @lc3091

/ledger/         @zengchen221
/p2p/            @wenchaopeng
/consensus/pov   @wenyuangui
/consensus/dpos  @lc3091
/vm/             @gythialy
